@media (min-width: 1200px) {
	.textWhite {
		font-size: 1.9rem;
	}
  #slide-1 {min-height: 850px;}
  #slide-2 {min-height: 940px;}
  #slide-3 {min-height: 840px;}
  #slide-4 {min-height: 840px;}
  #slide-5 {min-height: 1030px;}
}

@media (min-width: 1024px) and (max-width: 1200px) {
  #slide-1 {min-height: 850px;}
  #slide-2 {min-height: 940px;}
  #slide-3 {min-height: 840px;}
  #slide-4 {min-height: 840px;}
  #slide-5 {min-height: 955px;}
  }

@media (min-width: 768px) and (max-width: 992px) {
  .responsive-logo { width: 100%; position: relative; text-align: center; margin-top: 45px; padding-top: 15px; }
  .responsive-nav { text-align: center; width: 100%; padding-top: 0;}
  .responsive-nav li { margin-bottom: 15px; margin-top: 0 !important;}
  .intro { line-height: 3.438rem !important; font-size: 4rem;}
  .big-intro { text-align: center !important;}
  .about-us .column { margin-bottom: 40px;}
  .skills { margin-bottom: 78px !important;}
  .team-member .profile-pic { width: 128px; height: 128px;}
  .team-member .details { display: none; }
  .purchase-now { margin: auto; text-align: center !important;}
  .purchase-now h3 { text-align: center; margin-bottom: 20px;}
  .purchase-now .red-btn { float: none;}
	.company-details { padding-top: 0; padding-bottom: 33px;}
	.copyright { width: 100%; padding-top: 33px; padding-bottom: 33px;}
	.textWhite {font-size: 1.5em;}
	h4 {
		font-size: 1.5em !important;
	}
	#firstBg { height: 1000px;}
  #firstBg .parallaxOver {height: 617px;}
  .mainLogo {display: none;	}
  #slide-1 {min-height: 850px;}
  #slide-2 {min-height: ;}
  #slide-3 {min-height: 800px;}
  #slide-4 {min-height: 1100px;}
  #slide-5 {min-height: 955px;}
  .textWhite {}
}
@media (max-width: 767px) {
  html { font-size: 90%;}
  .bs-navbar-collapse { border: 0;}
  .responsive-logo{ padding-top: 20px; margin-top: 45px;}
  .responsive-logo a { float: none !important; }
  .navbar-inverse .navbar-nav { padding-left: 10px; line-height: normal; text-align: center;}
  .navbar-inverse .navbar-nav>li { display: inline-block; margin-bottom: 0;}
  .header { min-height: inherit; /*padding-bottom: 75px;*/}
  .intro { line-height: 3.438rem !important; font-size: 2.813rem;}
  .big-intro { text-align: center !important; font-size: 8vw !important;}
  .about-us .column { margin-bottom: 40px;}
  .skills { margin-bottom: 78px !important;}
  .purchase-now { margin: auto; text-align: center !important;}
  .purchase-now h3 { text-align: center; margin-bottom: 20px;}
  .purchase-now .red-btn { float: none;}
  .company-details { padding-top: 0; padding-bottom: 33px;}
  .copyright { width: 100%; padding-top: 33px; padding-bottom: 33px;}
  /* Francesc */
  .howC,.experienceC,.visionC,.letsGoC { padding-top:20px;}
  .section-header h5{ line-height: 28px !important;}
  .focus-box p{ margin-bottom: 15px !important;}
  .container h5{ margin-bottom:15px;}
  .focus-box .secondImg{ margin-bottom:20px;}
  .noMvl{ display:none;}
  .focus-box{ margin:20px 0 80px 0;}
  .focus-box.blue{ margin-top:30px;}
  .shareText {display: none!important;}
  .bgc {background-attachment:initial; background-position: center!important;  }
  h4 {font-size: 1.5em;}
  .sendgrid-subscription-widget INPUT[type=email]{width:100%;}
  .sendgrid-subscription-widget INPUT[type=submit]{width:100%;}
  .sendgrid-subscription-widget label {width: 100%;}
  .focus-box .firstImg {margin-left: -70px;}
  .focus-box .secondImg{margin-top: -106px; margin-right: -70px;}
  .focus-box img {width: auto; height: 107px;}

  #slide-1 {min-height: 950px;}
  #slide-2 {min-height: 1400px;}
  #slide-3 {min-height: 1190px;}
  #slide-4 {min-height: 1640px;}
  #slide-5 {min-height: 1150px;}
  .textWhite { }
  #slide-4 .white-text {margin-top: 0px;}
  .footer p {font-size: 1.2rem;}
  
}
@media (max-width: 480px) {
	html { font-size: 70%;}
  .responsive-logo{ padding-top: 20px; margin-top: 40px;}
  .responsive-logo a { float: none !important; }
  #main-nav { min-height: 50px; }
	.intro { line-height: 3.438rem !important; font-size: 2.813rem; }
  .focus,.works,.about-us,.features, .our-team,.packages,.products .color-overlay,.testimonial,.contact-us { padding-top: 60px;}
  .buttons { margin-bottom: 0; margin-top: 30px;}
  .custom-button { padding: 10px 18px;}
  h1 { font-weight: normal;}
	h2 { }
	h3 { }
	h4 {
	}
	.other-focus-list ul li { display: block; text-align: left; margin-right: 0;}
  .sendgrid-subscription-widget INPUT[type=email]{width:100%;}
  .sendgrid-subscription-widget INPUT[type=submit]{width:100%;}
  .sendgrid-subscription-widget label {width: 100%;}
  #slide-1 {min-height: 950px;}
	#slide-2 {min-height: 1400px;}
  #slide-3 {min-height: 1190px;}
  #slide-4 {min-height: 1640px;}
  #slide-5 {min-height: 1050px;}
  .textWhite {font-size: 1.5em !important; }
	#slide-4 .white-text {margin-top: 0px;}
}
@media (max-width: 320px) {
  html { font-size: 62.5%;}
  body { font-size: 1.3rem;}
  .responsive-logo a { float: none !important;}
  .focus,.works,.about-us,.features, .our-team,.packages,.products .color-overlay,.testimonial,.contact-us {padding-top: 50px;}
  h1 { font-weight: normal;}
  h3 { font-size: 1.7rem;}
  h4, .textWhite {
		font-size: 1.5em !important;
	}
  .intro { line-height: 3.1rem !important; font-size: 2.1rem;}
  .sendgrid-subscription-widget INPUT[type=email]{width:100%;}
  .sendgrid-subscription-widget INPUT[type=submit]{width:100%;}
  .sendgrid-subscription-widget label {width: 100%;}
	.client-list ul li { display: block;}
  
  #slide-1 {min-height: 950px;}
  #slide-2 {min-height: 1400px;}
  #slide-3 {min-height: 1240px;}
  #slide-4 {min-height: 1700px;}
  #slide-5 {min-height: 1050px;}
  #slide-4 .white-text {margin-top: 0px;}
}
/*
@media (max-width: 480px) {
  #firstBg .centerContent{    margin-top:30%; }
  #how .centerContent{        margin-top:5%; }  
  #experience .centerContent{ margin-top:11%; }
  #vision .centerContent{     margin-top:18%; }
  #letsGo .centerContent{     margin-top:15%; }
}
*/
/***************************
****************************
****************************
  MEDIA QUERYS VERTICALES
****************************
****************************
***************************/

/* iMac Gerard */
#how .logos700{ display:none;}
#how .logos{ display:block;}

@media (min-height: 992px) {
	/*
.navbar-header {
	  margin-top: 6% !important;
	}
*/
}
