@font-face {
  font-family: 'museo_sans100';
  src: url('fonts/museo100/museosans-100-webfont.eot');
  src: url('fonts/museo100/museosans-100-webfont.eot?#iefix') format('embedded-opentype'),
       url('fonts/museo100/museosans-100-webfont.woff') format('woff'),
       url('fonts/museo100/museosans-100-webfont.ttf') format('truetype'),
       url('fonts/museo100/museosans-100-webfont.svg#museo_sans100') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'museo_sans300';
  src: url('fonts/museo300/museosans-300-webfont.eot');
  src: url('fonts/museo300/museosans-300-webfont.eot?#iefix') format('embedded-opentype'),
       url('fonts/museo300/museosans-300-webfont.woff') format('woff'),
       url('fonts/museo300/museosans-300-webfont.ttf') format('truetype'),
       url('fonts/museo300/museosans-300-webfont.svg#museo_sans300') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'museo_sans500';
  src: url('fonts/museo500/museosans_500-webfont.eot');
  src: url('fonts/museo500/museosans_500-webfont.eot?#iefix') format('embedded-opentype'),
       url('fonts/museo500/museosans_500-webfont.woff') format('woff'),
       url('fonts/museo500/museosans_500-webfont.ttf') format('truetype'),
       url('fonts/museo500/museosans_500-webfont.svg#museo_sans500') format('svg');
  font-weight: normal;
  font-style: normal;
}
body { font-family: 'museo_sans300', 'Helvetica Neue', Helvetica, Arial, sans-serif; font-size: 1rem; line-height: 1.4; color: #808080; font-weight: normal; overflow-x: hidden; text-align: center;}
*:focus {outline: 0;}
html, button, input, select, textarea { color: #222;}
::-moz-selection { background: #b3d4fc; text-shadow: none;}
::selection { background: #b3d4fc; text-shadow: none;}

#slide1 input::-webkit-input-placeholder { color: rgba(222,232,235,0.87);text-shadow: 0 1px 0 rgba(0, 0, 0, 0.15); }
#slide1 input::-webkit-input-placeholder { color: rgba(222,232,235,0.87);text-shadow: 0 1px 0 rgba(0, 0, 0, 0.15); }
#slide1 input::-webkit-input-placeholder { color: rgba(222,232,235,0.87);text-shadow: 0 1px 0 rgba(0, 0, 0, 0.15); }

#slide1 input::-webkit-input-placeholder { color: rgba(222,232,235,0.87);text-shadow: 0 1px 0 rgba(255, 255, 255, 0.15); }
#slide1 input::-webkit-input-placeholder { color: rgba(222,232,235,0.87);text-shadow: 0 1px 0 rgba(255, 255, 255, 0.15); }
#slide1 input::-webkit-input-placeholder { color: rgba(222,232,235,0.87);text-shadow: 0 1px 0 rgba(255, 255, 255, 0.15); }

hr { display: block; height: 1px; border: 0; border-top: 1px solid #ccc; margin: 1em 0; padding: 0;}
img { vertical-align: middle;}
fieldset { border: 0; margin: 0; padding: 0;}
textarea { resize: vertical;}
.chromeframe { margin: 0.2em 0; background: #ccc; color: #000; padding: 0.2em 0;}
a,a:hover { text-decoration: none;}
a:hover, a:active {-webkit-transition: all 300ms;
          transition: all 300ms;}

/* ==========================================================================
   Parallax Scroll
   ========================================================================== */
body, html { height: 100%; min-height: 100%; background-color: #eceeea; font-size: 62.5%; font-weight: normal}
.no-js { padding-top: 106px;}
h2 { margin-top: 0; padding-top: 25px;}
.loading { background: url('../images/loading.gif') no-repeat center center;}
section { /*min-width: 960px;*/ opacity: 0;}
.loaded section, .no-js section { opacity: 1; -webkit-transition: opacity 300ms ease-out; -moz-transition: opacity 300ms ease-out; transition: opacity 300ms ease-out;}
main { /*overflow-x: hidden;*/}
#preload { width: 1px; height: 1px; overflow: hidden; position: absolute; top: 0; left: 0;}
.bcg { background-position: center center; background-repeat: no-repeat; background-attachment: fixed; background-size: cover; height: 100%; width: 100%;}
.hsContainer { width: 100%; height: 100%; overflow: hidden; position: relative;}
.interiorSeccion { margin:0 auto; width: 80%; margin-top:9%; }
.interiorSeccion.footer{ margin-top:0;}

#slide-4 .interiorSeccion { margin:0 auto; width: 80%; margin-top:2%; }

/* Slide 1 */
#slide-2 {
	text-shadow: 0 1px 0 rgba(255, 255, 255, 0.7);
}
#slide-5 {
	text-shadow: 0 1px 0 rgba(255, 255, 255, 0.2);
}
#slide-1, #slide-4 {
	text-shadow: 0 1px 0 rgba(0, 0, 0, 0.15);
}
#slide-3 {
	text-shadow: 0 1px 0 rgba(0, 0, 0, 0.6);
}
#slide-1 .bcg {background-image:url('images/bg1.jpg'); background-color: #eceeea;}
#slide-1 .interiorSeccion { 
	margin-top:17%;
	margin-bottom: 10%;
	}

/* Slide 2 */
#slide-2{ min-height:635px;}
#slide-2 .bcg {background-color:#fff;}
#slide-2 .interiorSeccion { }

/* Slide 3 */
#slide-3{ min-height:635px;}
#slide-3 .bcg {background-image:url('images/bg2.jpg'); background-color:#1a1718;}
#slide-3 .interiorSeccion { }

/* Slide 4 */
#slide-4{ min-height:700px; }
#slide-4 .bcg {background-color:#e9e9e9;}
#slide-4 .interiorSeccion { }

/* Slide 5 */
#slide-5{ min-height:635px;}
#slide-5 .bcg {background-image:url('images/bg3.jpg'); background-color:#0082BB;}
#slide-5 .interiorSeccion {  margin: 7.5% auto 0; }

/* Slide 6 */
#slide-6{ min-height:635px;}
#slide-6 .bcg {background-image:url('images/bg4.jpg'); }
#slide-6 .interiorSeccion {  margin: 7.5% auto 0; }

#trade1{ width:444px; height:96px; position:absolute; right:40px;}
#trade1 img, #trade2 img {
	display: block;
	width: 100%;
	height: auto;
}
#trade2{ width:444px; height:84px; position:absolute; right:40px;}

/* RETINA! */
@media
only screen and (-webkit-min-device-pixel-ratio: 2),
only screen and (   min--moz-device-pixel-ratio: 2),
only screen and (     -o-min-device-pixel-ratio: 2/1),
only screen and (        min-device-pixel-ratio: 2),
only screen and (                min-resolution: 192dpi),
only screen and (                min-resolution: 2dppx) { 
	#trade1{ width:444px; height:84px; }
	#trade2{ width:444px; height:84px; }
}

.ir { background-color: transparent; border: 0; overflow: hidden; *text-indent: -9999px;}
.ir:before { content: ""; display: block; width: 0; height: 150%;}
.hidden { display: none !important; visibility: hidden;}
.visuallyhidden { border: 0; clip: rect(0 0 0 0); height: 1px; margin: -1px; overflow: hidden; padding: 0; position: absolute; width: 1px;}
.visuallyhidden.focusable:active, .visuallyhidden.focusable:focus { clip: auto; height: auto; margin: 0; overflow: visible; position: static; width: auto;}
.invisible { visibility: hidden;}
.clearfix:before, .clearfix:after { content: " "; display: table;}
.clearfix:after { clear: both;}
.clearfix { *zoom: 1;}


/* SENDGRID */
.sendgrid-subscription-widget{ margin-top:30px;}
.sendgrid-subscription-widget INPUT[type=email]{
  background-color:rgba(255, 255, 255, 0.962941);
  background-position:initial initial;
  background-repeat:initial initial;
  border:1px solid rgba(0,0,0,0.12);
  border-bottom-left-radius:35px;
  border-bottom-right-radius:35px;
  border-top-left-radius:35px;
  border-top-right-radius:35px;
  display:inline-block;
  min-height:60px;
  padding:6px 9px 4px 25px;
  text-align:left;
  text-transform:none;
  width:40%;
  font-size: 1.7rem;
  box-shadow: inset 0px 2px 1px 0px rgba(0,0,0,0.03), 0px 1px 0px 0px rgba(255,255,255,0.04) !important;
  font-weight: normal;
}
.sendgrid-subscription-widget INPUT[type=submit]{
  border-radius: 35px;
  font-size: 2rem;
  height: 58px;
  margin-top: 10px;
  padding: 8px 45px;
  cursor: pointer;
  font-family: 'museo_sans500';
  font-weight: normal;
  text-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
  box-shadow: inset 0px -2px 1px 0px rgba(0,0,0,0.06)!important;
  text-transform: none;
  color: #FFFFFF;
  transition: all 0.3s ease-in-out 0s;
  background: none repeat scroll 0 0 #3AB0E2;
  font-weight: normal;
  border:none;
}
.sendgrid-subscription-widget INPUT[type=submit]:hover{
  background: none repeat scroll 0 0 #55BFEC; 
  -webkit-transition: all 300ms;  
        transition: all 300ms;
}

.sendgrid-subscription-widget INPUT[type=submit]:active{
  background: none repeat scroll 0 0 #28A0D3; 
  box-shadow: inset 0px 1px 1px 0px rgba(0,0,0,0.13)!important; 
  -webkit-transition: all 300ms; 
        transition: all 300ms;
}

.sendgrid-subscription-widget .response{ font-size:14px; font-family: 'museo_sans500'; font-weight: normal; text-shadow: 0px 0px 5px black;}
.sendgrid-subscription-widget FORM LABEL SPAN{ display:none;}

#slide-1 .sendgrid-subscription-widget INPUT[type=email] {
	background-color: rgba(68,74,85,0.59);
	color: white;
}

#slide-5 .sendgrid-subscription-widget INPUT[type=email] {
	background: rgba(255,255,255, 0.65);
	color: #a18263;
}

.sendgrid-subscription-widget label {
  width: 50%;
  display: inline-block !important;
  margin-right: 20px;
}

.sendgrid-subscription-widget INPUT[type=email] {width: 100%;}

.sendgrid-subscription-widget .response{ font-size:14px; font-family: 'museo_sans500'; font-weight: normal; text-shadow: 0px 0px 5px black;}
.sendgrid-subscription-widget FORM LABEL SPAN{ display:none;}

.sendgrid-subscription-widget div.response.error, .sendgrid-subscription-widget div.response.success {
  font-size: 2.1rem;
  text-shadow: none;
  font-weight: normal;
}

#slide-1 .sendgrid-subscription-widget div.response.error {color: #FFED22;}
#slide-1 .sendgrid-subscription-widget div.response.success {color: #22FF34;}
#slide-5 .sendgrid-subscription-widget div.response.error {color: #FF4C13;}
#slide-5 .sendgrid-subscription-widget div.response.success {color: #0486DD;}

/***************************************/
h1,h2,h3,h4,h5,h6 { margin: 0; padding: 0; border: 0; font-size: 100%; font-family: 'museo_sans100', 'Helvetica Neue', Helvetica, Arial, sans-serif; font-weight: normal !important; vertical-align: baseline;}
h1,h2 { text-transform: none; }
h1 { font-size: 5.5rem;}
h2 { font-size: 4.5rem !important; line-height: 85px; margin-bottom: 30px; padding-top:35px}
h3 { font-size: 2.4rem;}
h4 { font-size: 2.4rem; font-weight: normal; text-align: center; line-height: 42px;}
h5 { font-size: 1.7rem; margin-top: 15px; margin-bottom: 60px;}
h6 { font-size: 1.6rem;}
.buttons { text-align: center; margin-bottom: 100px; margin-top: 45px;}
.button { display: inline-block !important; text-align: center; text-transform: uppercase; padding: 10px 35px 10px 35px; border-radius: 4px; margin: 10px;}
.custom-button { display: inline-block !important; text-align: center; text-transform: uppercase; padding: 13px 35px 13px 35px; border-radius: 4px; margin: 10px; border: none;}
.red-btn { background: #e96656;}
.green-btn { background: #20AA73;}
.blue-btn { background: #3ab0e2;}
#home .blue-btn, #letsGo .blue-btn { background: rgba(0,146,204,0.8);}
.yellow-btn { background: #E7AC44;}
.red-btn,.green-btn,.blue-btn,.yellow-btn { color: #FFF; -webkit-transition: all 0.3s ease-in-out; transition: all 0.3s ease-in-out;}
.blue-btn:hover { color: #FFF; background: #1288ba;}
#home .blue-btn:hover { background: rgba(2,147,204, 1);}
.red-btn:hover { color: #FFF; background: #cb4332;}
.green-btn:hover { color: #FFF; background: #069059;}
.yellow-btn:hover { color: #FFF; background: #d8951e;}
.red-bg { background: #e96656;}
.green-bg { background: #34d293;}
.blue-bg { background: #3ab0e2;}
.yellow-bg { background: #E7AC44;}
.dark-bg { background: #404040;}
.white-bg { background:  #FFFFFF;}
.red-text { color: #e96656;}
.green-text { color: #69f035;}
.blue-text { color: #3ab0e2;}
.yellow-text { color: #f7d861;}
.dark-text { color: #404040;}
.white-text { color: #FFFFFF;}
.color1 { color: #3e758b;}
.color2 { color:#7ba2b2;}
.orange-text { color:#fa9f18; }
.blue-hours { color:#0393cc;}
.orangeDark-text { color:#fa7d18;}
.color4 { color: #608797;}

p {
  margin: 0px auto;
  text-align: center;
  margin-bottom: 15px;
  font-size: 1.8rem;
  color: #719cae;
  line-height: 32px;
}

/*----  SECTION 1  ----*/
.intro { text-align: center; color: #FFF; line-height: 65px; margin-bottom: 22px; z-index: 0;}
.bottom-message-section { margin-top: 14%; position: relative;}
.short-text { margin: auto; text-align: center; color: rgba(255,255,255,0.7); text-transform: uppercase;}
.textWhite { margin: auto; text-align: center; color: rgba(255,255,255,0.7); line-height: 35px; font-size: 2.8rem}
#homeScroll {margin: 0px auto; width: 51px; margin-top: 5%;}
#homeScroll .iconic {display: block; width: 51px; height: 51px; }
#homeScroll .iconic:nth-child(2) {margin-top: -15px; 
  -webkit-transition: all 1s ease-in-out;
      -moz-transition: all 1s ease-in-out;
      -o-transition: all 1s ease-in-out;
      -ms-transition: all 1s ease-in-out;
      transition: all 1s ease-in-out;
      
      -webkit-animation-direction: normal;
      -webkit-animation-duration: 2s;
      -webkit-animation-iteration-count: infinite;
      -webkit-animation-name: blink;
      -webkit-animation-timing-function: ease-in-out;
      
  -moz-animation-direction: normal;
      -moz-animation-duration: 3s;
      -moz-animation-iteration-count: infinite;
      -moz-animation-name: blink;
      -moz-animation-timing-function: ease-in-out; 
  }

@-webkit-keyframes blink {
      0% {
          opacity:0.7;
      }
      50% {
          opacity:0.3;
      }
      100% {
          opacity:0.7;
      }
  }
  @-moz-keyframes blink {
      0% {
          opacity:0.7;
      }
      50% {
          opacity:0.3;
      }
      100% {
          opacity:0.7;
      }
  }
#homeScroll .iconic:nth-child(1) { 
  -webkit-transition: all 1s ease-in-out;
      -moz-transition: all 1s ease-in-out;
      -o-transition: all 1s ease-in-out;
      -ms-transition: all 1s ease-in-out;
      transition: all 1s ease-in-out;
      
      -webkit-animation-direction: normal;
      -webkit-animation-duration: 2s;
      -webkit-animation-iteration-count: infinite;
      -webkit-animation-name: blink2;
      -webkit-animation-timing-function: ease-in-out;
      
  -moz-animation-direction: normal;
      -moz-animation-duration: 3s;
      -moz-animation-iteration-count: infinite;
      -moz-animation-name: blink2;
      -moz-animation-timing-function: ease-in-out; 
  }

@-webkit-keyframes blink2 {
      0% {
          opacity:0.3;
      }
      50% {
          opacity:0.7;
      }
      100% {
          opacity:0.3;
      }
  }
  @-moz-keyframes blink2 {
      0% {
          opacity:0.3;
      }
      50% {
          opacity:0.7;
      }
      100% {
          opacity:0.3;
      }
  }
#homeScroll .iconic * {
  fill: rgb(255, 255, 255);
  stroke: rgb(255, 255, 255);
}
  


/*----  SECTION 2  ----*/
#slide-2 h2 {color: #3e758b;}
#slide-2 .section-header h5 {color: #7ba2b2;  margin-bottom: 30px;  width: 100%;  font-size: 2.0rem;  line-height: 46px;}
.focus-box h5 { font-size: 5.5rem; line-height: 40px; text-transform:none; font-weight: normal; margin-bottom: 35px;}
#slide-2 p {max-width: 530px;}
/*----  SECTION 3  ----*/
#slide-3 h4 {color: rgba(236,244,233,0.90); line-height: 46px;}
#slide-3 .interiorSeccion {width: 75%;}
/*----  SECTION 4  ----*/
#slide-4 h5  {color: #ffffff; font-size: 2.4rem; margin-bottom: 0px !important; font-weight: normal;}
#slide-4 p {color: #86cee9;}
#slide-4 .white-text {margin-top: 0;}
/*----  SECTION 5  ----*/


/*----  TOP BAR   ----*/
.navbar {
  overflow: hidden;
  border: 0;
  border-radius: 0 !important;
  text-align: right;
}
#main-nav {
  position: fixed !important;
  z-index: 99999999;
  width: 200px;
  top: 35%;
  right: 0;
  margin-right: 1%;
}
#main-nav.fixed {
  position: fixed !important;
  width: 200px;
  top: 35%;
  right: 0;
  margin-right: 1%;
}
.navbar-inverse .navbar-nav>li {
  display: inline;
  margin-right: 20px;
}
.navbar-inverse .navbar-nav>li>a {
  color: #404040;
  padding: 0;
  line-height: 35px;
}

.menuTitle {
  opacity:0;
  filter:alpha(opacity=0); 
  background-color:rgba(0,0,0,0.6);
  padding: 7px 25px;
  border-radius: 4px;
  position: relative;
  margin-right: 30px;
  font-size: 1.4rem;
}
.menuTitle:after {
  left: 100%;
  top: 50%;
  border: solid transparent;
  content: " ";
  height: 0;
  width: 0;
  position: absolute;
  pointer-events: none;
  border-color: rgba(0, 0, 0, 0);
  border-left-color: rgba(0,0,0,0.6);
  border-width: 5px;
  margin-top: -5px;
}
.menuCercle:hover ~ .menuTitle{
  opacity:0.8;
  filter:alpha(opacity=80); /* For IE8 and earlier */
}
.menuList span.menuCercle:hover{
  opacity:0.8;
  filter:alpha(opacity=80); /* For IE8 and earlier */
}
.menuList.current a span.menuTitle {
  opacity:0;
  filter:alpha(opacity=0); /* For IE8 and earlier */
}

.menuList.current .menuCercle:hover ~ .menuTitle {
  opacity:1;
  filter:alpha(opacity=100); /* For IE8 and earlier */
}
.menuList span.menuCercle {
  position: absolute;
  margin: auto;
  z-index: 1;
  content: "";
  bottom: 15px;
  left: 91%;
  width: 10px;
  height:10px;
  border-radius: 50%;
  box-shadow: 0px 0px 1px 0px rgba(0,0,0,0.12);
  background-color:#717171;
}
.current a {
  color: #717171 !important;
  position: relative;
  outline: none;
  display: inline;
}
.current span.menuCercle {
  background-color:#007bcd;
}
.navbar-inverse .navbar-nav>li>a:hover {
  color: #007bcd;
  outline: none;
}
.navbar-toggle {
  display:none;
  border: 0;
  background-color: #808080;
    margin-top: 23px;
}
.navbar-inverse .navbar-toggle:hover,.navbar-inverse .navbar-toggle:focus {
  background-color: #e96656;
  filter: alpha(opacity=100);
  opacity: 1;
}
.navbar-nav>li {
  width: 100%;
}
.navbar-inverse  {
  background-color: transparent;
  border:none;
}

/*----  END TOP BAR   ----*/

/*----  TOP BAR MOVIL  ----*/
nav{ display: none;}
#headerMM{
	/*----position: fixed; ----*/
	left: 0;
	right: 0;
	z-index: 100000;
  background: rgba(0,0,0,0.7); 
  font-size: 1.6rem; 
  font-family: 'museo_sans500'; font-weight: normal; 
  color: #fff; 
  text-align: center; 
  line-height: 40px; 
  height: 40px; 
  box-shadow: 5px 5px 5px 5px #4f90ef inherit !important;  }
#headerMM .linkMenu{ 
  background: center center no-repeat transparent; 
  background-image: url( data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABkAAAAZCAYAAADE6YVjAAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAADhJREFUeNpi/P//PwOtARMDHQBdLGFBYtMq3BiHT3DRPU4YR4NrNAmPJuHRJDyahEeT8Ii3BCDAAF0WBj5Er5idAAAAAElFTkSuQmCC );
  display: block; 
  width: 40px; 
  height: 40px; 
  position: absolute; 
  top: 0; 
  left: 10px;
  display: none;
}
#headerMM a.right{ left: auto; right: 10px;}
ul.mm-panel {margin-top: 20px !important;}
@media all and (min-width: 992px) {
  html, body { height: 100%;}
  #menu { background: #eee;}
  #page { border-left: 1px solid #ccc; min-height: 100%;}
  /* hide open-button */
  a[href="#menu"]{ display: none !important; }
  
}

/*----  TOP BAR MOVIL  ----*/
/* -----  GENERAL STYLES  ------*/
.expImg {
  margin: 90px auto;
  margin-bottom:0;
}

#levelImg {
  margin-top: -153px;
  margin-left: -130px;
}

.linksTop a {
  color: white;
  margin: 0px 10px;
  font-size: 1.8rem;
  display: inline-block;
}

.linksTop a:hover {
  text-decoration: underline;
}

.linksTop a.language {
  font-size: 1.5rem;
  text-transform: uppercase;
  margin: 0px 8px;
  font-family: 'museo_sans500';
  opacity:0.6;
}

.linksTop a.language:hover {
  text-decoration: none;
  color: #3ab0e2;
  opacity:1;
}


.linksTop .language.activo{ 
  opacity: 1;
}

.linksTop a img {
  height: 25px;
  width: 25px;
  color: white;
}

.linksTop {
	overflow: hidden;
}

.container { position: relative; z-index: 10000;}

.container h4 {
  color: white;
  font-size: 2.4rem;
  font-weight: normal; 
  text-align: center;
  line-height: 42px;
}

.container h2 {
  margin-bottom: 35px;
  text-transform: none;
}

.container h5 {
  text-transform: none;
  margin-bottom: 60px;
}

.modal {z-index: 20050;}
.logo {width: 199px;}
.right {float: right;}
.left {float: left;}

.navbar-header {
  width: 100%;
  margin-top: 2%;
  font-family: 'museo_sans300';
}

.navbar-brand {
  padding: 0px;
  margin-bottom: 20px;
  -webkit-transition: all 300ms;
          transition: all 300ms;
}

.navbar-header .navbar-brand:hover {
  opacity: 0.5;
  filter: alpha(50);
}

.socialIcon {
  width: 25px; 
  height:25px; 
  margin-bottom:-5px;
}

.socialIcon * {
  fill: white;
  stroke: white;
}

span.love {
  display: inline-block !important;
  position: relative;
  opacity: 0.65;
  filter: alpha(0.65);
}

.love * {
  fill: rgb(246, 166, 163);
}

.service-icon {
  position: relative;
  max-width:300px; margin:0 auto;
}

.service-icon .small-icon {
  position: absolute;
  width: 36px;
  height: 36px;
}

.service-icon .small-icon.arrow .iconic * {
  fill: rgb(56, 210, 235);
  stroke: rgb(56, 210, 235);
}
.service-icon .small-icon.arrow .iconic {
	border: 3px solid rgb(56, 210, 235);
	font-size: 1rem;
	width: 16px;
	height: 16px;
	text-align: center;
	padding: 4px;
	border-radius: 50%;
}
.service-icon .small-icon.down {
  bottom: 0px;
  left: 20px;
}
.service-icon .small-icon.up {
  top: 0px;
  right: 23px;
}

.service-icon .small-icon.experience {
  border: 3px solid rgb(131,205,66);
  border-radius: 50%;
  font-size: 1.2rem;
  background: rgba(0,0,0,0.2);
  line-height: 32px;
  font-family: 'museo_sans500'; font-weight: normal;
  color: rgb(131,205,66);
}

/* Firefly */
.iconic-firefly-wing-front { fill: rgb(79, 197, 82);}
.iconic-firefly-wing-back { fill: rgb(109, 163, 72);}
.iconic-firefly-body { fill: rgb(148, 212, 82);}
.iconic-firefly .iconic-property-stroke { stroke: rgb(79, 197, 82);}

/* Globe */
.iconic-globe { fill: rgb(56, 210, 235);}
.iconic-globe-border { stroke: rgb(56, 210, 235);}

/* Brain */
.iconic-brain { fill: rgb(0, 99, 132);}

/* Lightbulb */
.iconic-lightbulb-coil { stroke: rgb(255, 217, 83);}
.iconic-lightbulb-base { fill: rgb(255, 255, 255);}
.iconic-lightbulb-screw { stroke: rgb(0, 99, 132);}


.btnShare {
  border: 1px solid rgba(255,255,255,0.8);
  padding: 10px 0px 13px 0px;
  text-shadow: 0px 1px 1px rgba(0,0,0,0.07);
  border-radius: 30px;
  margin: 20px 0;
  -webkit-transition: all 300ms;
          transition: all 300ms;
}

.btnShare * {
  fill: rgba(255,255,255,0.8);
  stroke: rgba(255,255,255,0.8);
  -webkit-transition: all 300ms;
          transition: all 300ms;
}

.btnShare:hover * {
  fill: white;
  stroke: white;
  -webkit-transition: all 300ms;
          transition: all 300ms;
}

.btnShare:hover {
  border: 1px solid white;
  cursor: pointer;
  -webkit-transition: all 300ms;
          transition: all 300ms;
}

.btnShare .shareText {
  /*color: rgba(255,255,255,0.8);*/
  margin-right: 20px;
  font-family: 'museo_sans500'; font-weight: normal;
  font-size: 1.6rem;
  display: inline-block;
  margin-top: 4px;
  -webkit-transition: all 300ms;
          transition: all 300ms;
}

.btnShare:hover .shareText {
  color: white;
  -webkit-transition: all 300ms;
          transition: all 300ms;
}

.btnShare .iconic {
  margin-bottom: -8px;
}

.btnShare{ display:block;}
.btnShare SPAN:first{ display: block;}
.btnShare.twitter{background-color:rgba(85,172,238,0.9); color:white; border-color:#55acee; }
.btnShare.facebook{background-color:rgba(67,96,156,0.9); color:white; border-color:#43609c;}
.btnShare.twitter:hover{background-color:rgba(85,172,238,1); border-color:#55acee;}
.btnShare.facebook:hover{background-color:rgba(67,96,156,1); border-color:#43609c;}

.btnShare .iconic * {
  stroke: rgba(255,255,255,0.8);
  fill: rgba(255,255,255,0.8);
  stroke: rgba(255,255,255,0.8)!important;
}

.btnShare:hover .iconic * {
  stroke: rgba(255,255,255,1);
  fill: rgba(255,255,255,1);
  stroke: rgba(255,255,255,1)!important;
}

/*.btnShare.facebook .iconic * {
  stroke: #43609c;
  fill: #43609c;
  stroke: #43609c !important;
}

.btnShare.twitter:hover .iconic * {
  stroke: white;
  fill: white;
  stroke: white!important;
}
*/
.socialWrapper {
  max-width: 768px;
  margin-left: auto;
  margin-right: auto;
}
/* ----- END GENERAL STYLES  ------*/

/*----  FOCUS BOX   ----*/
.focus-box {
  margin-top: 40px;
}
.focus-box img {
  margin-bottom: 60px;
  width: 200px;
  height: 200px;
  margin: auto;
  position: relative;
  -webkit-transition: all 0.2s ease-in-out;
          transition: all 0.2s ease-in-out;
}

.focus-box .firstImg {
  margin-left: -100px;
  position: relative;
  z-index: 33;
}

.focus-box .secondImg {
  margin-top: -200px;
  margin-right: -100px;
  margin-bottom: 50px;
  position: relative;
  z-index: 2;
}

/*----  END FOCUS BOX   ----*/



/* -----   FOOTER  ------*/

.company-details { padding-bottom: 20px;}
.company-details .icon-top { margin-bottom: 10px;}
.copyright {padding-top: 60px;  padding-bottom: 68px;}
.social li {display: inline-block;  margin: 5px;}
.social li a {color: #ffffff}
.social li a:hover {color: #939393;}

.fbFriends {margin: 70px 0px 50px 0px!important;  width: 100%!important;  color:#bfa695!important;}
.fbFriends *{width: 100%!important;}
.fbFriends ._43q7 a{color:#a17557!important;}
.fbFriends ._43q7 .img {border-radius: 50% !important;}
.fbFriends ._43q7 .img { border:1px solid #FF6600 !important;}

.pluginFacepileItem img {border-radius: 50%!important; margin-right: 25px!important;}
.pluginBoxDivider {display: none!important; border-top:none!important;}
@-webkit-keyframes beat {
    0% {-webkit-transform: scale(1) rotate(225deg);}
    50% {-webkit-transform: scale(1.14) rotate(225deg); }
    100% {-webkit-transform: scale(1) rotate(225deg); }
}
@-moz-keyframes beat {  
    0% {-moz-transform: scale(1) rotate(225deg); }
    50% {-moz-transform: scale(1.14) rotate(225deg); }
    100% {-moz-transform: scale(1) rotate(225deg); }
}
@keyframes beat {  
    0% {transform: scale(1) rotate(225deg); }
    50% {transform: scale(1.14) rotate(225deg); }
    100% {transform: scale(1) rotate(225deg); }
}

#chest {
    position:relative;
    width:20px;
    height:20px;
    margin: 3px 4px -6px 4px;
    display: inline-block;
    clear: none;
    float: none;
}
.footer p:first-child:hover {
	color: #d5093c;
	cursor: default;
	-webkit-transition: all 300ms;
    transition: all 300ms;
}
.footer p:first-child {
	  -webkit-transition: all 300ms;
          transition: all 300ms;
}

.heart {
    position:absolute;
    z-index:2;
    background: -moz-linear-gradient(-180deg,  #F50A45 0%, #d5093c 40%);
    background: -webkit-gradient(linear, right 50%, left 50%, color-stop(0%,#F50A45), color-stop(40%,#d5093c));
    background: -webkit-linear-gradient(-180deg,  #F50A45 0%,#d5093c 40%);
    background: linear-gradient(-180deg,  #F50A45 0%,#d5093c 40%);
    -webkit-animation: beat 1s ease 0s infinite normal;
    -moz-animation: beat 1s ease 0s infinite normal;
    animation: beat 1s ease 0s infinite normal;
}
.heart.heartcenter {
    background: -moz-linear-gradient(-45deg,  #B80734 0%, #d5093c 40%);
    background: -webkit-gradient(linear, left top, right bottom, color-stop(0%,#B80734), color-stop(40%,#d5093c));
    background: -webkit-linear-gradient(-45deg,  #B80734 0%,#d5093c 40%);
    background: linear-gradient(-45deg,  #B80734 0%,#d5093c 40%);
}
.heart.top {
    z-index:3;
}
.side {
    top:0;
    width:11px;
    height:11px;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    border-radius: 50%;
}
.heartcenter {
    width:10px;
    height:10px;
    top:30%;
    left:50%;
    margin-left: -5px;
    font-size:0;
    text-indent:-9999px;
}
.heartleft {
    left:0px;
}
.heartright {
    right:0px;
}
.footer .logo {display: inline-block; width: 35px; margin: 0 auto; clear: both; overflow: hidden;}
.footer .logo {opacity: 0.25; filter: alpha(0.25);}
.footer .logo:hover {opacity: 0.45;filter: alpha(0.45)}
.footer .left {text-align: center; float: none; clear: both}
.footer .linksTop a {font-size: 1.5rem}
.footer p {padding-top: 10px; margin-bottom: 10px; color:#998c67; font-size: 1.5rem; clear: both; overflow: hidden; text-align: center;}
.footer p a{margin: 0px 0px 0px 25px;}
.footer p a:hover{text-decoration: underline;}
.footer {color:#998c67; padding-bottom: 25px;}
.footer a{color: #0095d0; font-family: 'museo_sans500'; font-weight: normal; }
.footer .linksTop .iconic * {
  stroke: #c1bfab;
    fill: #c1bfab;
    stroke: #c1bfab!important;
}

.twIcon .iconic:hover * {
  stroke: #55acee;
    fill: #55acee;
    stroke: #55acee!important;
}

.twIcon, .fbIcon {
	padding-top: 3px;
	display: inline-block;
}

.fbIcon .iconic:hover * {
  stroke: #43609c;
    fill: #43609c;
    stroke: #43609c!important;
}

.iconic:hover *, .footer .logo {
  -webkit-transition: all 300ms;
          transition: all 300ms;
}

/* -----  END FOOTER  ------*/



@media (max-width: 500px) {
}

/*----  MEDIA QUERIES   ----*/
@media (max-height: 700px) {
  #slide-1 .interiorSeccion{ margin-top:12%; }
  #slide-2 { }
  #slide-3 { }
  #slide-4 { }
  #slide-5 .cbg {}
   #slide-6{}
}

@media only screen and (min-width: 35em) {

}
@media print,
       (-o-min-device-pixel-ratio: 5/4),
       (-webkit-min-device-pixel-ratio: 1.25),
       (min-resolution: 120dpi) {

}

@media print {
    * { background: transparent !important; color: #000 !important; box-shadow: none !important; text-shadow: none !important; }
    a, a:visited { text-decoration: underline;}
    a[href]:after { content: " (" attr(href) ")";}
    abbr[title]:after { content: " (" attr(title) ")";}
    .ir a:after,
    a[href^="javascript:"]:after,
    a[href^="#"]:after { content: "";}
    pre, blockquote { border: 1px solid #999; page-break-inside: avoid;}
    thead { display: table-header-group; /* h5bp.com/t */ }
    tr, img { page-break-inside: avoid; }
    img { max-width: 100% !important; }
    @page {
        margin: 0.5cm;
    }
    p, h2, h3 { orphans: 3; widows: 3;}
    h2, h3 { page-break-after: avoid; }
}

.footer .linksTop, .footer .left {float: none; width: 100%; text-align: center;}
  .footer p {text-align: center;}
  .company-details .navbar-brand {width: 35px; float: none; height: 35px; margin: 0 auto 10px auto; display: block;}