.chatbox {
	position: fixed;
	position:expression("absolute");
	width: 225px;
	display:block !important; 
	z-index:999999;
}

.chatboxhead {
	background-color: #2A8DD1;
	padding:7px;
	color: #ffffff;
	#border-right:1px solid #f99d39;
	#border-left:1px solid #f99d39;
}

.chatboxblink {
	background: url("../img/online.png") no-repeat scroll 10px center #F99D39!important;
	border-right:1px solid #176689;
	border-left:1px solid #176689;
}

.chatboxcontent {
	font-family: arial,sans-serif;
	font-size: 13px;
	color: #333333;
	height:200px;
	width:209px;
	overflow-y:auto;
	overflow-x:auto;
	padding:7px;
	border-left:1px solid #cccccc;
	border-right:1px solid #cccccc;
	border-bottom:1px solid #eeeeee;
	background-color: #ffffff;
	line-height: 1.3em;
}

.chatboxinput {
	padding: 5px;
	background-color: #ffffff;
	border-left:1px solid #cccccc;
	border-right:1px solid #cccccc;
	border-bottom:1px solid #cccccc;
}

.chatboxtextarea {
	width: 206px;
	height:44px;
	padding:3px 0pt 3px 3px;
	border: 1px solid #eeeeee;
	margin: 1px;
	overflow:hidden;
}

/*.chatboxtextareaselected {
	border: 2px solid #2A8DD1;
	margin:0;
}*/

.chatboxmessage {
	margin-left:1em;
}

.chatboxinfo {
	margin-left:-1em;
	color:#666666;

}

.chatboxmessagefrom {
	margin-left:-1em;
	font-weight: bold;
}

.chatboxmessagecontent {
}

.chatboxoptions {
	float: right;
}

.chatboxoptions a {
	text-decoration: none;
	color: white;
	font-weight:bold;
	font-family:Verdana,Arial,"Bitstream Vera Sans",sans-serif;
}

.chatboxtitle {
	float: left;
}
/*#chatbox_3{display:block !important; z-index:9999}
#chatbox_1{display:block !important; z-index:9999}
#chatbox_2{display:block !important; z-index:9999}
#chatbox_3{display:block !important; z-index:9999}
#chatbox_4{display:block !important; z-index:9999}
#chatbox_5{display:block !important; z-index:9999}
#chatbox_6{display:block !important; z-index:9999}
#chatbox_7{display:block !important; z-index:9999}
#chatbox_8{display:block !important; z-index:9999}
#chatbox_9{display:block !important; z-index:9999}
#chatbox_10{display:block !important; z-index:9999}
#chatbox_11{display:block !important; z-index:9999}
#chatbox_12{display:block !important; z-index:9999}
*/

 .no-display-chat
    {
        display: none !important;
    }
 .chatdate
 {
     font-weight: bold;
     text-align: center;
     margin-top: 10px;
     font-size:10px;
 }
 .offsspan
 {
     font-size: 12px;
     color: red;
     
 }
 .chat_emotion_div
 {
     display:none;
     width:100%;
     height:125px;
     padding-top: 5px;
     border: 1px solid #8b8888;
     margin-bottom:5px;
 }
 .css-emoticon 
 {
     cursor:pointer;
 }
 .chat_emotion_opener
 {
     cursor:pointer;
     position:absolute;
     right:8px;
     bottom:50px;
     opacity:0.5;
 }
 .chat_emotion_opener:hover
 {
     opacity:1;
 }