/* Common style */
.grid {
	margin: 10px auto 20px;
	max-width: 850px;
	width: 90%;
	border-radius: 5px;
}

.grid a {
	float: left;
	max-width: 250px;
	width: 25%;
	color: #333;
	border-radius: 5px;
	text-decoration:none;
}

.grid a:nth-child(odd) {
	/*margin: 30px 0 -30px 0;*/
}

.grid figure {
	position: relative;
	overflow: hidden;
	margin: 5px;
	background: #0099ff;
	border-radius: 5px;
}

.grid figure img {
	position: relative;
	display: block;
	width: 100%;
	border-radius: 5px;
}

.grid figcaption {
	position: absolute;
	top: 0;
	z-index: 11;
	padding: 10px 0;
	width: 100%;
	height: 100%;
	text-align: center;
}

.grid figcaption h1 {
	margin: 0 0 25px 0;
	color: #3498db;
	text-transform: uppercase;
	font-weight: 300;
	font-size: 130%;
	-webkit-transition: -webkit-transform 0.3s;
	transition: transform 0.3s;
}

.grid figcaption p {
	padding: 0 10px;
	-webkit-transition: opacity 0.3s, -webkit-transform 0.3s;
	transition: opacity 0.3s, transform 0.3s;
	margin: 7px 0;
	font-family: Arial, sans-serif;
	font-size:14px;
	color: #333;
	line-height: 18px;
}
.grid figcaption p span{ color: #999; }

.grid figcaption .pix{
	width: 80px;
	height:80px;
	margin: 0 auto;
	border: solid 3px #0099ff;
	border-radius: 100%;
	background: #fff;
}

.grid figcaption .pix img{
	width: 80px;
	height:80px;
	border-radius: 100%;
}

.grid figcaption h1,
.grid figcaption p {
	-webkit-transform: translateY(10px);
	transform: translateY(10px);
}

/*.grid figure button {
	position: absolute;
	padding: 4px 20px;
	border: none;
	text-transform: uppercase;
	letter-spacing: 1px;
	font-weight: bold;
	-webkit-transition: opacity 0.3s, -webkit-transform 0.3s;
	transition: opacity 0.3s, transform 0.3s;
}*/

.grid figcaption,
.grid figcaption h1,
.grid figcaption p,
.grid figure button {
	/*-webkit-backface-visibility: hidden;
	backface-visibility: hidden;*/
}

/* Style for SVG */
.grid svg {
	position: absolute;
	top: -1px; /* fixes rendering issue in FF */
	z-index: 10;
	width: 100%;
	height: 190%;
}

.grid svg path {
	fill: #fff;
}

/* Hover effects */
.grid a:hover figure img {
	opacity: 1;
}
.grid a:hover .desc-div .chat-btn
{
  color: #0099ff;
}
.grid a:hover .desc-div .remove-btn
{
  color: #0099ff;
}

.grid a:hover figcaption h1,
.grid a:hover figcaption p {
	-webkit-transform: translateY(10);
	transform: translateY(10);
}

.grid a:hover figcaption p {
	opacity: 0;
}

/* Individual styles */
.demo-1 body {
	background: #3498db;
}

/*.demo-1 .grid figure button,
.demo-3 .grid figure button {
	top: 50%;
	left: 50%;
	border: 3px solid #fff;
	background: transparent;
	color: #fff;
	opacity: 0;
	-webkit-transform: translateY(-50%) translateX(-50%) scale(0.25);
	transform: translateY(-50%) translateX(-50%) scale(0.25);
}

.demo-1 .grid a:hover figure button,
.demo-3 .grid a:hover figure button {
	opacity: 1;
	-webkit-transform: translateY(-50%) translateX(-50%) scale(1);
	transform: translateY(-50%) translateX(-50%) scale(1);
}*/

.desc-div{ width:90%; height: 150px; position: absolute; z-index: 999; top: 124px; left: 5%; }
.desc-div p{ text-align: center; font-size: 13px; line-height: 18px; padding: 0; color: #fff; margin: 5px 0;
font-family: Arial, sans-serif; }
.desc-div p span{ font-weight: bold; }
.desc-div .chat-btn{ width: auto; height: 25px; }
.desc-div .chat-btn { display: inline-block; height: 25px; line-height: 25px; border-radius: 3px; 
background: #fff; color: #fff; padding: 0 5px; font-size: 12px; font-family: Arial, sans-serif;
font-weight: bold; margin: 5px 2px !important; border: none; float: none;}

.desc-div .remove-btn {display: inline-block; height: 25px; line-height: 25px; border-radius: 3px; 
background: #fff; color: #fff; padding: 0 5px; font-size: 12px; font-family: Arial, sans-serif;
font-weight: bold; margin: 5px 2px !important; border: none; float: none; }

/* Media Queries */
/* Let's redefine the width of each anchor and the margins */

@media screen and (max-width: 58em) {
	.grid a {
		width: 33.333%;
	}

	.grid a:nth-child(odd) {
		margin: 0;
	}

	.grid a:nth-child(3n-1) {
		margin: 30px 0 -30px 0;
	}
}

@media screen and (max-width: 45em) {
	.grid {
		max-width: 500px;
	}

	.grid a {
		width: 50%;
	}

	.grid a:nth-child(3n-1) {
		margin: 0;
	}

	.grid a:nth-child(even) {
		margin: 30px 0 -30px 0;
	}


	.grid figcaption h1 {
		margin-bottom: 0px;
		-webkit-transform: translateY(30px);
		transform: translateY(30px);
	}

	.grid figcaption p {
		margin: 0;
		padding: 0 10px;
	}
}

@media screen and (max-width: 27em) {
	.grid {
		max-width: 250px;
	}

	.grid a {
		width: 100%;
	}

	.grid a:nth-child(even) {
		margin: 0;
	}
}
