/* Overlay style */
.overlay {
	position: fixed;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	z-index: 99999;
}

.overlay-blue {
	background: rgba(2,147,204, 0.9);
	color: white;
}

/* Overlay closing cross */
.overlay .overlay-close {
	width: 20px;
	height: 20px;
	position: absolute;
	right: 20px;
	top: 20px;
	overflow: hidden;
	border: none;
	background: url(../images/cross.png) no-repeat center center;
	text-indent: 200%;
	color: transparent;
	outline: none;
	z-index: 100;
}

/* Menu style */
.overlay nav {
	text-align: center;
	position: relative;
	top: 50%;
	height: 60%;
	font-size: 54px;
	-webkit-transform: translateY(-50%);
	transform: translateY(-50%);
}

.overlay ul{ margin:25px 0 25px 0 !important; height:auto !important;}
.overlay ul li{ height:auto !important;}

.overlay ul { text-align:left;
	list-style: none;
	padding: 0;
	margin: 0 auto;
	display: inline-block;
	height: 100%;
	position: relative;
}

.overlay ul li {text-align:left;
	display: block;
	height: 20%;
	height: calc(100% / 5);
}

.overlay ul li a {
	font-weight: 300;
	display: block;
	color: #fff;
	-webkit-transition: color 0.2s;
	transition: color 0.2s;
}

.overlay ul li a:hover,
.overlay ul li a:focus {
	color: #e4fdb2;
}

/* Effects */
.overlay-hugeinc {
	opacity: 0;
	visibility: hidden;
	-webkit-transition: opacity 0.5s, visibility 0s 0.5s;
	transition: opacity 0.5s, visibility 0s 0.5s;
}

.overlay-hugeinc.open {
	opacity: 1;
	visibility: visible;
	-webkit-transition: opacity 0.5s;
	transition: opacity 0.5s;
}

.overlay-hugeinc nav {
	-webkit-perspective: 1200px;
	perspective: 1200px;
}

.overlay-hugeinc nav ul {
	opacity: 0.4;
	-webkit-transform: translateY(-25%) rotateX(35deg);
	transform: translateY(-25%) rotateX(35deg);
	-webkit-transition: -webkit-transform 0.5s, opacity 0.5s;
	transition: transform 0.5s, opacity 0.5s;
}

.overlay-hugeinc.open nav ul {
	opacity: 1;
	-webkit-transform: rotateX(0deg);
	transform: rotateX(0deg);
}

.overlay-hugeinc.close nav ul {
	-webkit-transform: translateY(25%) rotateX(-35deg);
	transform: translateY(25%) rotateX(-35deg);
}


/* Terms */
.boxTerms{ padding:4% 10%; overflow-y:scroll; z-index:99999999999999;}
.boxTerms P, .boxTerms UL, .boxTerms OL, .boxTerms LI { color:#FFFFFF; font-size:14px; text-align:left; margin:0; line-height: 32px;}
.boxTerms h2 {font-size: 27px!important;}
.boxTerms .llista{ margin:10px 0 10px 30px !important; padding:0;}
.boxTerms p{ margin:10px 0 10px 0;}
.boxTerms .llista LI{ margin:0 0 7px 0 !important; padding:0 !important;}
.boxTerms H2{ font-size:22px; text-align:left; line-height:35px; margin:35px 0 20px; font-weight:bold;}
.boxTerms H3{ font-size:18px; text-align:left; line-height:20px; font-weight:bold; margin:35px 0 10px;}

@media screen and (max-height: 30.5em) {
	.overlay nav {
		height: 70%;
		font-size: 34px;
	}
	.overlay ul li {
		min-height: 34px;
	}
}