@charset "utf-8";

/* CSS Document */



@charset "utf-8";

/* CSS Document */

html, body, address, blockquote, div, dl, form, h1, h2, h3, h4, h5, h6, ol, p, pre, table, ul,

dd, dt, li, tbody, td, tfoot, th, thead, tr, button, del, ins, map, object,

a, abbr, acronym, b, bdo, big, br, cite, code, dfn, em, i, img, kbd, q, samp, small, span,

strong, sub, sup, tt, var, legend, fieldset, input{

	margin: 0;

	padding: 0;

}

img, fieldset {

	border: 0;

}

/* set html5 elements to block */





/* Clearfix */

.clearfix {

	float: none;

	clear: both;

	line-height: 0;

}

/* Some basic settings */



small { font-size: 10px; }

ol { list-style: none; }

ul { list-style: none; }

li { list-style-type: none;}

/*******************fonts*/

@font-face {

    font-family: 'web_symbolsregular';

    src: url('../fonts/websymbols-regular-webfont.eot');

    src: url('../fonts/websymbols-regular-webfont.eot?#iefix') format('embedded-opentype'),

         url('../fonts/websymbols-regular-webfont.woff2') format('woff2'),

         url('../fonts/websymbols-regular-webfont.woff') format('woff'),

         url('../fonts/websymbols-regular-webfont.ttf') format('truetype'),

         url('../fonts/websymbols-regular-webfont.svg#web_symbolsregular') format('svg');

    font-weight: normal;

    font-style: normal;



}

/*******************fonts*/



.navigation{width:auto;float:right;height:30px}

.navigation a img{width:auto;height:auto;}

.navigation a{font-family: 'Roboto', sans-serif;font-size:18px;}

.bannertext h1{font-family: 'Noto Sans', sans-serif;;color:#fff;font-size:38px;display:block;width:700px;margin:0 auto;line-height:50px;text-shadow:1px 1px #474747}

.bannertext h2{font-family: 'Noto Sans', sans-serif;font-size:19px !important;color:#fff;line-height:60px !important;text-shadow:1px 1px #474747;padding:0;margin:0}

.bannertext input[type="button"]{width:270px;height:56px;background:url(../images/button_back.png) repeat-x;border:0;border-radius:5px;font-family: 'Roboto', sans-serif;font-size:19px;color:#fff;}

.how_it_works h2{font-family: 'Roboto';color:#444444 !important;font-size:40px;padding-top:0px;line-height:45px}

.how_it_works h3{font-family: 'Noto Sans', sans-serif;;color:#9b9b9b !important;font-size:18px;padding-top:0px;line-height:25px;display:block;width:650px;margin:0 auto;font-weight:bold}

.how_it_works ul{width:100%;height:auto;overflow: hidden;border:0px solid red;margin:80px 0;padding:0}

.how_it_works ul li{float:left;width:332px;height:203px;border:0px solid red;margin:0 22px}

.how_it_works ul li img{display:block;margin:0 auto;}

.how_it_works ul li h2{font-family: 'Roboto';color:#444444 !important;font-size:22px !important;margin-bottom:0}

.how_it_works ul li p{font-family: 'Roboto', sans-serif;font-size:15px;color:#999999;line-height:20px}

.about{width:1170px !important}

.how_it_works,.apps{width:1130px !important}

.apps img{width:auto;float:left;margin-left:82px}
.apps ul li img{width:auto;float:left;margin-left:0px}

.apps aside{width:504px;float:right;margin-right:40px;}

.apps aside h1{font-family: 'Noto Sans';color:#fff;font-size:32px;text-align:center;margin-top:105px;line-height:40px;}

.apps aside p{font-family: 'Roboto', sans-serif;font-size:20px;color:#fff;text-align:center;line-height:25px;margin-top:20px;}

.apps aside ul{padding:0;margin-top:40px}

.apps aside ul li{padding:0;float:left;margin-right:18px;}

.story h2{font-family: 'Noto Sans';color:#fff;font-size:40px !important;text-align:center;margin-top:60px;line-height:40px;}

.story ul{width:999px;margin:0 auto;}

.story ul img{width:183px;height:183px;border-radius:100%;border:6px solid #0099FF;box-shadow:0px 1px 2px 0px #808080;float:left;}

.story ul li aside{width:700px;height:auto;background:#fff;border-radius:6px;float:right;display:block;padding:15px 30px;margin-top:15px;position: relative;}

.story ul li aside p{font-family: 'Roboto', sans-serif;font-size:14px !important;color:#777777 !important;text-align:left;line-height:22px;margin-top:5px}

.story ul li aside b{font-family: 'Roboto', sans-serif;font-size:12px !important;color:#202020 !important;text-align:left;line-height:18px;margin-top:2px;text-align:left;font-weight:normal;display: block;}

.story ul li aside span{font-family: 'Roboto', sans-serif;font-size:12px !important;color:#777777 !important;text-align:left;line-height:18px;margin-top:1px;text-align:left;font-weight:normal;display: block;}

.story ul li{width:98%;height:auto;overflow: hidden;margin-bottom:50px;}

.arrow{width:14px;height:28px;position: absolute;z-index: 999;top:50px;}

.story ul li aside .arrow img{width:auto;border:0;border-radius:0;box-shadow:none;height:auto}

.about img{float:right;width: 63%;height:auto;}

.about aside{width:30%;height:auto;background:#fff;border-radius:6px;float:left;background:none;margin-left:20px}

.about aside h2{font-family: 'Noto Sans';color:#fff;font-size:36px !important;text-align:left;margin-bottom:0;line-height: 67px;}

.about aside p{font-family: 'Roboto', sans-serif;font-size:14px !important;color:#fff !important;text-align:left;line-height:22px;margin-top:5px}

.home_footer h1{font-family: 'Noto Sans';color:#fff;font-size:50px !important;text-align:center;margin-bottom:0;line-height: 60px;}

.home_footer h4{font-family: 'Roboto', sans-serif;color:#fff;font-size:18px !important;text-align:center;margin-bottom:0;line-height: 30px;}

.footer_search{margin:0 auto;width:688px;float:none;margin-top:30px;border:0px solid red;height:56px;}

.footer_search input[type="text"]{float:left;width:469px;height:52px;border-radius:3px;border:0;font-family: 'Noto Sans';

    font-size: 17px;color:#808080;padding-left:20px;}

.footer_search input[type="button"] {

    background: url("../images/button_back.png") repeat-x scroll 0 0 rgba(0, 0, 0, 0);

    border: 0 none;

    border-radius: 5px;

    color: #fff;

   font-family: 'Noto Sans';

    font-size: 17px;

    height: 52px;

    width: 203px;

    float:right;

}

.share_btn{width:545px;margin:40px auto;height:auto;overflow: hidden;padding: 0;}

.share_btn li{float:left;width:auto}

.share_btn li:last-child{float:right;}

.home_footer h3{font-family: 'Roboto', sans-serif;color:#fff;font-size:30px !important;text-align:center;margin-bottom:0;line-height: 30px;margin-top:30px;}

.footer_logo{display: block;margin:0 auto;width:180px}

.footer_nav{width:685px;margin:25px auto;}

.footer_nav li{float:left;}

.footer_nav li a{float:left;color:#fffefe;font-family: 'Roboto', sans-serif;font-size:16px;margin:0 20px;

text-shadow:1px 1px #444444}

.home_footer p{color:#fffefe;font-family: 'Roboto', sans-serif;font-size:14px;text-shadow:1px 1px #444444;text-align: center;display: block;width:100%;clear:both;margin-top:10px}

.clearfix{clear:both}



/************************************************proflile**************************************/

.profile_head{width:100%;height:79px;background:#243745;position: fixed;top: 0;z-index: 999999;}
.profile_head .container{margin-top: 0px !important;}
.fixed_header .container{margin-top: 0px !important;}
.hsContent .container{margin-top: 0px !important;}
.hsContent .bannertext{margin-top: 11% !important;}
.container{width:1170px;margin:0 auto;margin-top: 98px;}


.profile_head .logo{width:199px;margin-top:15px;float:left;}

.profile_head .logo img{width:199px;display: block;}





.profile_top{float:right;margin-right:5px;width:auto;height:30px;margin-top:21px ;}



.profile_top img{float:left;}

.profile_top span{float:left;color:#fff;font-family:arial;font-size:13px;margin-left:5px;line-height:29px;margin-top:4px;}



.profile_image{float:left;width:width:29px;height:29px;border-radius:100%;}

.drop_down{margin-left:5px;margin-top:12px;cursor: pointer;margin-top: 17px;}





.profile_body{width:97%;height:auto;overflow: hidden;background:url(../images/gray_trans.png);padding:1.50%;border-radius:4px;margin:20px 0}

.left_menu{width:246px;height:auto;overflow: hidden;padding:10px 0;/*background:#23272d;*/border-radius:5px;float:left;}





.menu_top{width:195px;height:auto;margin:0 auto;clear:both}

.menu_top img{width:60px;height:60px;border-radius:100%;float:left;}

.menu_top aside{width:129px;float:right;}



.menu_top aside p{color:#fff;font-size:17px;font-family:arial;margin-top:5px;}





.user_options{width:121px;height:20px;border:1px solid #2c3138;margin-top:5px;}

.user_options li{width: 27.7px;float:left;border-right:1px solid #2c3138;height:20px}

.user_options li:last-child{border-right:0}

.user_options li img{width:auto;height:auto;display:block;margin:0 auto;float:none;margin-top:3px}



.menu_bottom{width:100%;height:auto;overflow: hidden;}



.menu_bottom ul{width:100%;height: auto;overflow: hidden;margin:10px 0}

.menu_bottom ul li{width:100%;height:35px;overflow: hidden;border-top: 1px solid rgba(255, 255, 255, 0.1);

    border-bottom: 1px solid rgba(0, 0, 0, 0.1);}



.menu_bottom ul li:hover a,.menu_bottom ul li:hover a i{color:#0093f5 !important}



.menu_bottom ul li a{font-family: arial;color:#fff;font-size:12px;text-decoration:none;color:#afb0b1;line-height:35px;display: block;}

.menu_bottom ul li a i{font-family: 'web_symbolsregular';font-style: normal;color:#afb0b1;line-height:35px;margin-left:20px;margin-right:5px;}



.menu_bottom ul li:first-child{border-top:0;}

.menu_bottom ul li:last-child{border-bottom:0;}







.right_menu{float:right;width:870px;border:0px solid red;background:#fff;border-radius:5px;box-shadow:0px 0px 1px 0px #808080;overflow: hidden;}



.right_menu h2{display: block;color:#0097fb;font-size:20px;font-family:arial;text-indent:20px;line-height:50px;border-bottom:1px solid #c3c3c3}





.profile_des{width:100%;height:auto;overflow: hidden;background:#e7e7e7;}



.profile_des .left_profile{width:607px;height:273px;border-right: 1px solid #d2d2d2;float:left;margin-left:33px;position: relative;margin-bottom:42px;}

.profile_des .right_profile{width:200px;height:273px;border-left: 1px solid #fbfbfb;float:left;}





.profile_des .left_profile img{width:254px;height:243px;border-radius:5px;margin-top:30px;float:left;}

.profile_des .left_profile aside{float:left;width:300px;margin-left:25px;border:0px solid red;margin-top:30px;}

.profile_des .left_profile aside h3{color:#323232;font-size:18px;font-family:arial;font-weight:normal;display: block;line-height:30px}

.profile_des .left_profile aside b{color:#323232;font-size:14px;font-family:arial;font-weight:normal;display: block;line-height:20px}

.profile_des .left_profile aside span{color:#0097fc;font-size:12px;font-family:arial;font-weight:normal;display: block;line-height:20px}

.profile_des .left_profile aside p{color:#323232;font-size:12px;font-family:arial;font-weight:normal;display: block;line-height:20px}



a.edit_btn1{position: absolute;z-index:999;bottom:2px;right:30px;cursor:pointer}

a.edit_btn1 img{width:auto !important;height:auto !important;display: block;}

.circle_img{border-radius:100%}





.right_profile p{font-size:14px;color:#464646;font-family:arial;margin-left:22px;margin-top:34px;margin-bottom:10px}

.right_profile a{font-size:12px;color:#464646;font-family:arial;margin-left:22px;text-decoration:none;display: block;width:100%;height:26px;line-height:22px}

.right_profile a img{float:left;margin-top:2px;margin-right:5px;}



/**************************************tabs***************************************/

ul.tabs {

 margin: 0;

 padding: 0;

 float: left;

 list-style: none;

 height: 32px; /*--Set height of tabs--*/

 border-bottom: 1px solid #d1d1d1;

 width: 100%;

 background:#e7e7e7;

}

ul.tabs li {

 float: left;

 margin: 0;

 padding: 0;

 height: 31px; /*--Subtract 1px from the height of the unordered list--*/

 line-height: 31px; /*--Vertically aligns the text within the tab--*/

 border: 1px solid #E7E7E7;



 border-bottom:1px solid #dadada;

 border-left: none;

 margin-bottom: -1px; /*--Pull the list item down 1px--*/

 overflow: hidden;

 position: relative;

 background:none;

}

ul.tabs li:first-child{margin-left:35px;border-left:1px solid #e7e7e7}

ul.tabs li a {

 text-decoration: none;

 color: #515151;

 display: block;

 font-size: 14px;

 padding: 0 20px; /*--Gives the bevel look with a 1px white border inside the list item--*/

 outline: none;

 font-family:arial;

}

ul.tabs li a:hover {

 background: #ccc;

}

html ul.tabs li.active, html ul.tabs li.active a:hover  { /*--Makes sure that the active tab does not listen to the hover properties--*/

 background: #fff;

 border-bottom: 1px solid #fff;

 ; /*--Makes the active tab look like it's connected with its content--*/

}

html ul.tabs li.active{border-top:1px solid #dadada;border-left:1px solid #dadada;border-right:1px solid #dadada;}

Tab Content CSS



.tab_container {

 border: 1px solid #d1d1d1;

 border-top: none;

 overflow: hidden;

 clear: both;

 float: left; width: 100%;

 background: #fff;

}

.tab_content {

 padding: 20px;

}





/**************inside tab******************/

.left_summary{width:432px;height:auto;overflow: hidden;float:left;border:0px solid red;padding:30px 0}





.left_summary ul{width:100%;height:auto;overflow: hidden;}

.left_summary ul li{width:100%;height:auto;overflow: hidden;margin-bottom:10px}



.left_summary ul li h4{color:#0095f8;font-size:16px;font-family:arial;font-weight:normal}

.left_summary ul li p{color:#7c7c7c;font-size:14px;font-family:arial;font-weight:normal;margin-top:10px;line-height:20px}







.my_details{width:345px;height:auto;overflow: hidden;border:1px solid #dadada;border-radius:3px;float:right;margin-top:30px;}



.my_details h1{background:#b6d7ed;display: block;padding:12px;color:#303030;font-size:16px;font-family:arial;font-weight:normal}

.my_details ul{width:100%;height: auto;overflow: hidden;}

.my_details ul li{width:100%;height: auto;overflow: hidden;padding:10px 0;border-bottom:1px solid #dadada;}

.my_details ul li:first-child{padding:0}

.my_details ul li:last-child{border-bottom:0}

.my_details ul li b{color:#757575;font-size:12px;font-family:arial;font-weight:normal;display: block;width:140px;float:left;text-indent:20px;}

.my_details ul li strong{color:#757575;font-size:12px;font-family:arial;font-weight:normal;float:left;}









.footer_all{width:100%;height:auto;overflow: hidden;background:#23272d;margin-top:20px;border-radius:3px;padding:30px 0}



.footer_all ul li{float:left;width:24.80%;float:left;height:auto;padding:10px 0;border-left: 1px solid rgba(255, 255, 255, 0.1);border-right: 1px solid rgba(0, 0, 0, 0.1);overflow: hidden;min-height:150px}





.logo_foot img{display: block;margin:0 auto;width:150px;margin-top:30px}

.logo_foot p{display: block;margin:0 auto;color:#fffefe;font-size:13px;font-family:arial;text-align: center;margin-top:10px;}



.quick_link a,.quick_link h2{display: block;margin:0 auto;color:#fffefe;font-size:15px;font-family:arial;text-align: left;margin-top:10px;text-decoration: none;text-indent:20px;line-height:18px;margin-top:4px}



.quick_link h2{font-size:25px;font-weight:normal;margin-top:0;line-height:30px;}







.get_touch h2,.follow h2{color:#fffefe;font-family:arial;font-size:25px;font-weight:normal;margin-top:0;line-height:30px;text-indent:20px;}



.get_touch p{display: block;margin:0 auto;color:#fffefe;font-size:13px;font-family:arial;text-align: left;margin-top:10px;text-decoration: none;line-height:18px;margin-top:4px;margin-left:20px;margin-right:20px;}



.get_touch input[type="text"]{width:230px;height:31px;margin:5px 0 5px 20px}

.get_touch input[type="button"]{background: url("../images/button_back.png") repeat-x scroll 0 0 rgba(0, 0, 0, 0);

    border: 0 none;

    border-radius: 5px;

    color: #fff;

    float: left;

    font-family: "arial";

    font-size: 13px;

    height: 34px;

    width: 125px;

    margin-left:20px}



.follow a{margin-left:20px;margin-top:5px;display: block;}











.edit_profile_menu{padding:0}

.edit_profile_menu .menu_bottom ul{margin:0}

.edit_profile_menu .menu_bottom ul li:first-child{background:#0098fd;color:#fff;}

.edit_profile_menu .menu_bottom ul li:first-child span{font-size:17px;font-family:arial;font-weight:bold;line-height:37px;display: block;text-indent:20px;}







.bred_cumb{width:100%;height:71px;position: relative;}

.bred_cumb img{width:100%;height:71px;}





.bred_cumb ul{position: absolute;z-index:9;top:0;width:100%}

.bred_cumb ul li{width:33%;height:70px;float:left;}

.bred_cumb ul li a{color:#fff;font-family:arial;font-size:20px;text-align: center;line-height:70px;display: block;text-decoration:none;}





form.create_profile{width:98%;height:auto;overflow: hidden;padding:10px 0;margin:0 auto;}

form.create_profile ul{width:100%;height:auto;overflow: hidden;}

form.create_profile ul li{width:100%;height:auto;overflow: hidden;margin-bottom:13px}

form.create_profile ul li label{width:160px;height:35px;float:left;border:0px solid red;color:#3d3d3d;font-family:arial;font-size:13px;text-align:right;font-weight:bold;margin-top: 13px;/*line-height:35px;*/}



.input{width:400px;height:35px;float:left;margin-left:10px;border:0px solid red;}

.input_text{width:274px;height:35px;border:1px solid #d4d4d4;border-radius:5px;color:#3d3d3d;font-family:arial;font-size:13px;text-indent:10px}





.list_box{height:32px;float:left;margin-right:10px;border:1px solid #d4d4d4;border-radius:5px;overflow: hidden;background:url(../images/down.png)90% center no-repeat;float:left;margin-top:1px}



.list_1{width:65px;}

.list_2{width:91px;}

.list_3{width:149px;}

.list_4{width:200px;}

.list_5{width:274px;}



.list_box select{width:130%;border:0;background:none;height:30px;color:#676767;font-family:arial;font-size:13px}



.radio{float:left;margin-left:10px;height:auto;width:400px;margin-top:8px}

.radio p{display: block;width:100%;clear: both;}

.radio p span{display: block;float:left;color:#676767;font-family:arial;font-size:13px;line-height:20px;}

.radio p input[type="radio"]{float:left;margin-top:5px;margin-right:6px;}



.overlay_outer{width:100%;height:100%;position: fixed;/*background:url(../images/trans.png) repeat;*/background:rgba(0, 0, 0, 0.7);top:0;z-index:99999;display:none;}
.overlay_outer1{width:100%;height:100%;position: fixed;background:url(../images/trans.png) repeat;top:0;z-index:99999;display:block;}
.over_lay{width:827px;height:1px;positon:relative;margin:0 auto;border:0px solid red;}
.sign_up_box{width:827px;height:auto;background:#fff;margin:20px auto;border-radius:10px;overflow: hidden;position: fixed;z-index: 999999;}

.sign_up_box{width:840px;height:auto;background:#fff;margin:20px auto;border-radius:10px;overflow-y: scroll;max-height: 560px;}





.sign_up_box h2{background:url(../images/slice.png) repeat-x;display: block;height:66px;line-height:66px;text-align: left;color:#fff;font-size:28px !important;/*text-transform: uppercase;*/font-family: 'Roboto Slab', serif;text-indent:20px;}



.left_form{width:362px;height:auto;float:left;margin:30px 0 50px 37px;border:0px solid red;}



.left_form_text{color:#333333;font-size:13px;font-weight:bold;line-height:34px;display: block;text-align: left;text-indent:5px;}



.left_form_text_box{width:359px;height:38px;border:1px solid #cccccc;border-radius:4px;color:#333333;font-size:13px;text-indent:5px;}



.drop_down_signup{width:359px;height:38px;border:1px solid #cccccc;border-radius:4px;overflow: hidden;background:url(../images/gray_down.png) 97% center no-repeat;float:left;}



.drop_down_signup select{width:130%;height:38px;border:0;background:none;color:#333333;font-size:13px;}

.drop_down_signup select option{width:200px !important}





.left_form li a{color:#0094f7;font-size:13px;font-weight:normal;line-height:30px;display: block;text-align: left;text-indent:5px;}





.sign_in_btn{width:359px;height:40px;background:url(../images/button_back.png);color:#fff;border:0;border-radius:4px;border:1px solid #0076c4;font-size:15px;font-weight:normal;font-family:arial}





.or{width:77px;float:left;height:203px;background:url(../images/or.png) center center no-repeat;margin-top:60px;vertical-align: middle;}

.or p{text-align: center;color:#333333;font-size:13px;font-weight:bold;line-height:208px}



.social_icon_hold{width:315px;height:auto;overflow: hidden;margin-top:55px;}

.social_icon_hold h3{color:#333333;font-size:20px;font-weight:bold;text-align: center;font-family:arial;line-height:60px}

.social_icon_hold ul{width:100%;}

.social_icon_hold ul li{float:left;margin-right:12px}

.social_icon_hold ul li:last-child{float:right;margin-right:0}

.social_icon_hold ul li span{color:#58595b;font-size:15px;display: block;text-align: center}

.sign .or{margin-top:150px;}

.sign .social_icon_hold{margin-top:145px;}

.sign .left_form{margin-bottom:20px;}



.alrady_member p{color:#333333;text-align: center;font-size:13px;font-weight:normal;}

.alrady_member a{width:auto;display: inline-block !important;}

.describe{background:url(../images/signup_footer.png) repeat;height:91px;width:100%;clear:both;overflow: hidden;}

.describe p{color:#333333;font-size:13px;font-family:arial;line-height:19px;width:80%;margin:20px auto;float:none;display: block;}

.story ul{height:500px;overflow:auto;margin:20px 0}

.mCSB_draggerContainer{display:none;}





.search_page .tabs{margin-top:0}



.search_field{width:750px;height:auto;overflow: hidden;margin:20px auto;float:left;border:0px solid red;}

.search_field .input{width:550px !important;}

.search_field .input p{width:180px !important;}

.search_field li{width:100%;height:auto;overflow: hidden;margin-bottom:8px;}



.search_field li lable{#width:138px;
    
    width:165px;
    color: #3d3d3d;

    float: left;

    font-family: arial;

    font-size: 13px;

    font-weight: bold;

    height: 35px;

    line-height: 35px;

    text-align: right;}





.btn_sub{width:auto;height:33px;background:url(../images/button_back.png);padding:0 50px;font-family: arial;font-size: 13px;color:#fff;border:0;border-radius:3px;cursor: pointer;}





.inside{width:auto;color: #3d3d3d;

    float: left;

    font-family: arial;

    font-size: 13px;

    font-weight: bold;

    height: 35px;

    line-height: 35px;margin-right:10px}

.input p{width:132px;float:left;display: block;height:35px;}

.input p b{line-height:35px;color:#333333;font-size:13px;font-family:arial;font-weight:normal;margin-left: 5px;}

.input p input[type="checkbox"]{float:left;margin-right:5px;margin-top:11px;}

.auto_height{height:auto;}







.search_results{width:100%;height:auto;overflow: hidden;background:#B1B3B3;}

.list_img{width:180px;height:180px;border:5px solid #0099FF;float:left;border-radius:100%;overflow: hidden;margin-top:3px}

.list_img img{width:180px;height:180px;}





.search_results ul{width:95%;height:auto;overflow: hidden;margin:10px auto;float:none;}



.search_results ul li{width:100%;height:auto;overflow: hidden;position: relative;min-height:165px;margin:5px 0;border:0px solid red;float:left}



.list_info{width:73%;height:120px;border:2px solid #fff;float:right;padding:10px;margin-top:10px;background:#fff;border-radius:5px;position: relative;}





.list_info h4{color:#0097fb;font-family: arial;font-size: 15px;display:block;text-align: left;display: block;width:100%;border-bottom:1px solid #d7d6d2;line-height:30px}

.list_info h4 span{color:#b3b1ac;font-size: 12px;font-weight:normal}

.list_info .arrow{top:20px}



.small_des{width:100%;height:auto;overflow: hidden;}

.small_des p{display:block;font-family: arial;font-size:13px;width:100%;clear: both;line-height:23px;}

.small_des b{color:#000;font-weight:normal;font-weight:normal;display:block;width:110px;float:left;height:23px;}

.small_des span{color:#808080;float:left;font-size:13px}





.three_bttn{width:100%;height:auto;overflow: hidden;}



.three_bttn input[type="button"]{background: url("../images/button_back.png") repeat scroll 0 0 rgba(0, 0, 0, 0);

    border: 0 none;

    border-radius: 3px;

    color: #fff;

    cursor: pointer;

    font-family: arial;

    font-size: 13px;

    height: 22px;

    padding: 0 20px;

    width: auto;float:right;margin-left:5px}





.pro_detail{background:none;box-shadow:none !important}

.pro_detail h2{background:#fff;}



.detailsleft{width:100%;height:auto;overflow: hidden;background:#fff;min-height:350px;border-radius:150px 0 0 0}

.profile_img{width:250px;height:250px;float:left;background:none;border-radius:100%;overflow: hidden;border:8px solid #DDDEDE}

.profile_img img{width:250px;height:250px}



.profile_sort_des{width:560px;height:auto;overflow: hidden;border:0px solid red;float:right;margin:20px;margin-bottom:20px;}

.profile_sort_des h3{font-family: arial;font-size:20px;color:#0099FF;width:100%;display:block;margin-bottom:5px;}

.profile_sort_des h4{font-family: arial;font-size:14px;color:#706c69;width:100%;display:block;margin-bottom:5px;border-bottom:1px solid #cccccc;line-height:25px}



.profile_sort_des ul{width:100%;height:auto;overflow: hidden;}

.profile_sort_des ul li{width:49%;height:auto;float:left;padding:5px 0;}





.profile_sort_des ul li{font-family: arial;font-size:12px;color:#706c69;line-height:20px;}

.profile_sort_des ul li b{margin-right:10px}





.button_holder{width:100%;height:auto;position: relative;}

.button_holder .three_bttn{margin-top:8px;}

.button_holder .three_bttn input[type="button"]{float:left;margin-left:0;margin-right:5px}



.button_holder textarea{border: 1px solid #d4d4d4;

    border-radius: 0px;

    color: #3d3d3d;

    font-family: arial;

    font-size: 13px;

    height: 60px;

    padding: 1%;

    width: 100%;margin-top:4px;}



#msg{display:none;}

#msg input[type="button"]{background: url("../images/button_back.png") repeat scroll 0 0 rgba(0, 0, 0, 0);

    border: 0 none;

    border-radius: 3px;

    color: #fff;

    cursor: pointer;

    float: right;

    font-family: arial;

    font-size: 13px;

    height: 22px;

    margin-left: 5px;

    padding: 0 20px;

    width: auto;}





.pro_detail .tab_based{margin-top:10px;}





.romance ul{width:100%;height:auto;overflow: hidden;margin:10px 0}

.romance ul li{width:49%;height:auto;overflow: hidden;float:left;}

.romance ul li:nth-child(even){float:right;}



.romance ul li h3{font-family: arial;font-size:15px;color:#0099FF;font-weight:normal;border-bottom:1px solid #ccc;line-height:25px;}

.romance ul li p{font-family: arial;font-size:13px;color:#706c69;line-height:18px;}









.interest ul{border:0px solid red;float:left;width:48%;margin:7px;}

.interest ul li{width:49%;float:left;margin-bottom:5px;}

.interest ul li:first-child{width:100%;font-family: arial;font-size:14px;color:#0099FF;padding:5px 0;border-bottom:1px solid #ccc;margin-bottom:5px;}



.interest ul li img{width:25px;height:25px;float:left;margin-right:5px;}

.interest ul li span{float:left;font-family: arial;font-size:12px;color:#706c69;margin-right:5px;display: block;}





table.carlisting{width:100%;height:auto;overflow: hidden;border-collapse: collapse;border-radius:0 0 3px 3px}

table.carlisting td, table.carlisting th {

    font-size: 15px;

    

    padding: 1px 7px 1px 7px;

    font-family:arial;

}



table.carlisting th {

    font-size: 12px;

    text-align: center;

    padding-top: 3px;

    padding-bottom: 3px;

    background-color: #0099FF;

    color: #ffffff;

}

table.carlisting tr td{color:#808080;text-indent:0;font-size:12px;}



.carlisting img{width:100px;margin:5px auto}

.del_btn,.edit_btn{background: url(../images/button_back.png) repeat-x;

    border: 0 none;

    border-radius: 2px;

    color: #fff;

    float: none;

    font-family: arial;

    font-size: 12px;

    height: 22px;

    padding: 0 10px;margin:0 auto;margin-bottom:3px;width:100px;display:block}



.edit_btn{background:#22953c;margin-right:5px}

/****************************************online_list*******************************************************/
.online_who{background:none;padding-bottom:10px;}
.online_who h2{background:#fff;}
.online_list{width:100%;height:auo;overflow: hidden;background:none}
.online_list li{width:197px;height:60px;border:0px solid #0097FB;float:left;margin:69px 10px;position: relative;background:#fff;border-radius:4px;box-shadow:1px 2px 2px 0px #808080;padding-top:70px;margin-bottom:10px}
.online_list li img{width:120px;height:120px;border-radius:100%;border:3px solid #0097FB;position: absolute;z-index:999;left:35px;top:-60px;}
.online_list li h3{text-align:center;font-size:13px;font-family: arial;color:#0097FB;display: block;}

.online_list input[type="button"]{background:#0099FF;border:0;display: block;margin:5px auto;font-size:12px;font-family: arial;padding:2px;color:#fff;border-radius:2px;cursor: pointer;}
.online_list li i{display: block;width:12px;height:12px;background:#41c439;border-radius:100%;position: absolute;z-index:999999;bottom:66px;right:36px;}
.slick-slide h3 i{display: block;width:12px;height:12px;background:#41c439;border-radius:100%;position: absolute;z-index:999999;bottom:11px;right:14px;}



ul.quick_pick{width:100%;height:auto;overflow: hidden;}

ul.quick_pick li{width:197px;height:220px;border:0px solid red;float:left;margin:9px;background:#fff;overflow: hidden;position: relative;}
ul.quick_pick li img{width:160px;height:160px;margin:2px auto;display: block;border-radius:100%;float:none;margin-top:10px;}

ul.quick_pick li p{float:left;line-height:30px;font-size:12px;font-family: arial;color:#0097FB;margin-left:10px;}

ul.quick_pick li i{width:20px;height:20px;display: block;background:url(../images/close.png);background-size: contain;float:right;cursor: pointer;margin:5px;position: absolute;z-index:999;top:5px;right:5px}

ul.quick_pick li .add_title{width:120px;height:20px;margin:0 auto;border:1px solid #ccc;display: block;float:left;margin-left:10px;}

.add{float:right;height:20px;background:#0BAEE2;float:right;color:#fff;font-size:12px;font-family: arial;margin-right:20px;padding:0 8px;border:0;cursor: pointer}




ul.packege{width:100%;height:auto;overflow: hidden;margin:15px 0}
ul.packege li{float:left;border:1px solid #0093F6;width:255px;height:auto;margin:10px;border-radius:5px;}

ul.packege li h2{width:100%;display: block;background:#0093F6;font-size:15px !important;font-family: arial;text-align: center;line-heigt:30px;height:40px;line-height:40px}


ul.packege li b{font-family: arial;font-size:30px;color:#808080;line-height:100px}
ul.packege li b span{color:#0093F6}
ul.packege li aside{width:100%;height:98px;background:#ededed;display: block;}
ul.packege li aside p{font-family: arial;font-size:12px;color:#494949;width:90%;margin:0 auto;display: block;}

.btn_suscribe{width:100%;height:40px;background:#0093F6;}
.btn_suscribe input[type="button"]{background:#fff;font-family: arial;font-size:14px;color:#0093F6;padding:2px 20px;border:0;border-radius:5px;margin-top:10px;}

.banking_process{
	width:100%;float:none;padding:10px 0;border:0px solid red;height:auto;overflow: hidden;
}

.sub_scribe .left_form{margin-top:0}


.subscribe_option{font-family: arial;font-size:14px;color:#808080;float:left;display: block;width:100%;text-align:left;}
.subscribe_option b{float:left;margin-left:36px;margin-right:5px;}
.subscribe_option span{float:left;margin-right:10px;}
.subscribe_option input[type="radio"]{float:left;margin-top:10px;margin-left:5px;margin-right:5px;}




.wink{background:none;}
.wink h2{background:#fff;}
.wink ul{width:100%;height:auto;overflow: hidden;margin:0 auto;}
.wink ul li{width:100%;height:auto;overflow: hidden;background:#fff;margin:5px 0;padding:10px 0}


.wink_image{width:100px;height:100px;float:left;border-radius:100%;margin-left:20px;}
.wink_image img{width:100px;height:100px;float:left;border-radius:100%;}

.wink_iddentity{float:left;width:200px;float:left;border:0px solid red;margin-left:10px;margin-top:0px;}

.wink_iddentity h3{color: #0097fb;
    display: block;
    font-family: arial;
    font-size: 13px;
    line-height: 13px;
    text-align: left;margin-bottom:5px;}

.wink_iddentity p{font-family: arial;font-size:11px;color:#ababab;}



.wink_message{float:left;width:354px;float:left;border:0px solid red;margin-left:10px;margin-top:0px;}
.wink_message p{font-family: arial;font-size:12px;color:#797979;display: block;width:100%;}
.wink_message span{font-family: arial;font-size:11px;color:#9c9c9c;float:right;}

.report_block{float:right;width:131px;margin-top:0px;}
.report_block a{font-family: arial;font-size:12px;color:#797979;list-style:none !important;line-height:13px;}
 
.report_block input[type="button"]{background:#0093F6;color:#fff;float:left;border:0;padding:2px 30px;font-family: arial;font-size:11px;margin-top:10px;}



.left_form_text i{font-size:11px !important;color:#a29f9f !important}


/***************************accont_drop**************************/
.drop_account {
    float: left;
    position: relative;
    width: auto;
}

.acoount_top_hold{width:250px;height:145px;background:#fff;box-shadow:1px 1px 2px 0px #808080;position: absolute;z-index: 9999;top:58px;right:0;padding:10px;display:none;}


.account_leftt_img{width:80px;height:80px;float:left;}
.account_leftt_img img{width:80px;height:80px;}

.account_rightt_des{float:right;width:160px;float:right;height:104px;}

.account_rightt_des h3{font-family: arial;font-size:14px;color:#0093F5;margin-bottom:4px;}
.account_rightt_des p{font-family: arial;font-size:12px;color:#797979;}

.account_rightt_des input[type="button"]{ background: url("../images/button_back.png") repeat-x scroll 0 0 rgba(0, 0, 0, 0);
    border: 0 none;
    border-radius: 1px;
    color: #fff;
    float: left;
    font-family: "arial";
    font-size: 11px;
    height: 26px;
    margin-left: 0;
    margin-top: 19px;
    text-transform: uppercase;
    width: 160px;}


.account_sign_out{width:100%;height:32px;background:#0093F5;float:left;margin-top:10px;}
.account_sign_out input[type="button"]{background: none repeat scroll 0 0 #fff;
    border: 0 none;
    border-radius: 10px;
    color: #0093f5;
    float: right;
    font-family: "arial";
    font-size: 11px;
    height: 20px;
    margin-right: 6px;
    margin-top: 5px;
    text-transform: uppercase;
    width: 82px;}


/*****************My Message************/


.my_msg_holder{width:100%;overflow: hidden; border:0px solid red}
.my_msg_holder ul{width:97%; height:auto; margin:15px auto; overflow:hidden; border:0px solid green}
.my_msg_holder ul li{ width:100%; margin-bottom:7px; float:left; overflow:hidden; border-bottom:1px dashed #dad9d9; }
.my_msg_holder ul li .sender_photo{width: 90px; height:75px; margin:5px; float:left; border:1px solid #dedede; border-radius:4px; overflow:hidden}
.my_msg_holder ul li .sender_photo img{width:100%; height:100%;}
.my_msg_holder ul li aside{width:720px; padding:5px 10px; float:right;}
.my_msg_holder ul li .top_info { width:100%; height:20px; float:left;border-bottom:1px solid #eceded}
.my_msg_holder ul li .top_info h1{font-family: arial;font-size:12px;color:#037bcb;float:left}
.my_msg_holder ul li .top_info h3{font-family: arial;font-size:12px;color:#9f9f9f; font-weight:normal;float:right}
.my_msg_holder ul li .top_info h1 span{font-family: arial;font-size:12px;color:#9f9f9f;  font-weight:normal; }
.my_msg_holder ul li .msg_dtls {width:100%;float:left; font-family: arial;font-size:13px; line-height:16px;color:#282828; margin-top:4px;}
.my_msg_holder ul li .bottom_info { width:100%;float:left; margin-top:6px;}
.my_msg_holder ul li .msg_date {font-family: arial;font-size:11px;color:#9f9f9f;float:left; margin-top:4px; float:left}
.my_msg_holder ul li:nth-child(even){background-color:f7f7f7; border-bottom:0}
.my_msg_holder ul li:last-child{ margin-bottom:0}
.my_msg_holder ul li .bottom_info .del_btn{float:right}



.fixed_header{position:fixed;z-index:999999;top:0;height:60px;width:100%;background:url(../images/trans2.png) repeat-x;display:none;}
.fixed_header .navbar-brand{margin-top:5px;}
.fixed_header .right{margin-top:16px;}

/*--------------Kundu----------------*/

.input_textarea {
width: 500px;
height: 158px;
border: 1px solid #d4d4d4;
border-radius: 5px;
color: #3d3d3d;
font-family: arial;
font-size: 13px;
text-indent: 10px;
padding:10px;
}


.profinfodiv p{display: block;width:90%;height:auto;overflow: hidden;margin:0 auto;}
.profinfodiv p span{border:1px solid #D5D3D0;float:left;width:49%;height:20px;border-bottom:0;border-right:0;text-indent:10px;}
.profinfodiv p b{border:1px solid #D5D3D0;float:left;width:49%;height:20px;border-bottom:0;text-indent:10px;color:#383f49;font-weight: normal;font-size:13px}

.profinfodiv p:last-child span,.profinfodiv p:last-child b{border-bottom:1px solid #b1afa9;}
/*.profinfodivback.three_bttn > a{background:#787676;display: block;width:100%;position: absolute;z-index: 999;bottom:0}
.profinfodivback.three_bttn > a input[type="button"]{margin-bottom:7px;}*/

.profinfodivback span{border:1px solid #515966;float:left;width:38%;height:22px;border-top:0;border-right:0;text-indent:3px;font-size: 11px;}
.profinfodivback p{clear:both}
.profinfodivback p b{border:1px solid #515966;float:left;width:60%;height:22px;border-top:0;text-indent:6px;color:#0099FF;font-weight: normal;font-size:12px}
.profinfodivback p:first-child span,.profinfodivback p:first-child b{border-top:1px solid #515966;}

.topimgdiv > a {
    display: block;
    float: none;
    margin-left: 13px;
}

.subscription{background:#fff;}

.subscription ul{width:95%;margin:10px auto;float:none;height:auto;overflow: hidden;}
.subscription li{width:100%;padding:10px 0;float:none;height:auto;overflow: hidden;border-bottom:1px solid #d3d2d1}
.subscription li:last-child{border-bottom: 0}

.subscription li h2{color: rgb(255, 255, 255);
    font-family: arial;
    font-size: 17px;
    display: block;float:left;width:30%;color:#0099FF;border-bottom:0;line-height: 40px;}
    
.subscription li p{font-family: arial;
    font-size: 12px;
    display: block;float:left;width:45%;color:#b5b5ae;border-bottom:0;line-height: 14px;}  
    
.subscription input[type="button"] {
background: url("../images/button_back.png") repeat-x scroll 0 0 rgba(0, 0, 0, 0);
border: 0 none;
border-radius: 5px;
color: rgb(255, 255, 255);
float: right;
font-family: "arial";
font-size: 13px;
height: 34px;
margin-left: 20px;
width: 125px;
}
    
    .chatbox .chatboxinput
    {
        text-align: center;
    }
    .chatbox .chatboxinput input
    {
        float:none !important;
        margin-left:0px !important;
    }



/************************adds***********************/
.left_menu .left_add{width:100%;height: auto;overflow: hidden;margin-top:10px;border:1px solid #cccaca;border-radius:2px;}
.left_menu .left_add img{width:100%;height: auto;overflow: hidden;}

.addsection_slide{position: fixed;z-index: 99999999999;top:120px;right:0;width:207px;border:1px solid #fff;background:#fff;/*min-height:200px;*/border-radius:5px 0 0 5px;box-shadow:1px 1px 1px 1px #808080;padding:10px;-webkit-transition: all 1s ease-in-out;
            -moz-transition: all 1s ease-in-out;
            -o-transition: all 1s ease-in-out;
            -ms-transition: all 1s ease-in-out;}
            
.adddiv img{width:100%;height:auto;}

.addsection_slide button{background:#fff;width:33px;position: absolute;border: 0;border:1px solid #DFDFDF;border-right:0;height:35px;border-radius: 5px 0 0 5px;cursor: pointer;}


/*.addsection_leftslide{position: fixed;z-index: 99999999999;top:120px;left:0;width:207px;border:1px solid #fff;background:#fff;min-height:200px;border-radius:0 5px 5px 0 ;box-shadow:1px 1px 1px 1px #808080 5px0;padding:10px;-webkit-transition: all 1s ease-in-out;
            -moz-transition: all 1s ease-in-out;
            -o-transition: all 1s ease-in-out;
            -ms-transition: all 1s ease-in-out;}

.addsection_leftslide button{background:#fff;width:33px;position: absolute;right:-29px;top:-2;border: 0;border:1px solid #DFDFDF;border-left:0;height:35px;border-radius:0 5px 5px 0 ;cursor: pointer;}*/



.open{
	-webkit-transform: translate(227px,0);
            -moz-transform: translate(224px,0);
            -o-transform: translate(224px,0);
            -ms-transform: translate(224px,0);
            
}
.close{
	-webkit-transform: translate(0px,0);
            -moz-transform: translate(0px,0);
            -o-transform: translate(0px,0);
            -ms-transform: translate(0px,0);
            
}


.add_left_div{left:0}
.add_left_div button{right:-29px;border-right:1px solid #DFDFDF;border-left:0;border-radius:0 5px 5px 0;top:-1px}

.open1{
	-webkit-transform: translate(-227px,0);
            -moz-transform: translate(-224px,0);
            -o-transform: translate(-224px,0);
            -ms-transform: translate(-224px,0);
}
.close1{
	-webkit-transform: translate(0px,0);
            -moz-transform: translate(0px,0);
            -o-transform: translate(0px,0);
            -ms-transform: translate(0px,0);
}


.add_top_div{left:30%;width:40%;top:0;min-height:100px;}
.open2{
	-webkit-transform: translate(0,-150px);
            -moz-transform: translate(0,-150px);
            -o-transform: translate(0,-150px);
            -ms-transform: translate(0,-150px);
}
.close2{
	-webkit-transform: translate(0,0px);
            -moz-transform: translate(0,0px);
            -o-transform: translate(0,0px);
            -ms-transform: translate(0,0px);
}
.add_top_div button{right:46%;border-right:1px solid #DFDFDF;border-top:0;border-radius:0  0 5px 5px;}
.add_top_div .main_add{height:130px;overflow: hidden;}



.add_bottom_div{left:30%;width:40%;bottom:0;min-height:100px;}
.open3{
	-webkit-transform: translate(0,150px);
            -moz-transform: translate(0,150px);
            -o-transform: translate(0,150px);
            -ms-transform: translate(0,150px);
}
.close3{
	-webkit-transform: translate(0,0px);
            -moz-transform: translate(0,0px);
            -o-transform: translate(0,0px);
            -ms-transform: translate(0,0px);
}
.add_bottom_div button{right:46%;border-right:1px solid #DFDFDF;border-bottom:0;border-radius:5px 5px 0 0;}
.add_bottom_div{left:30%;width:40%;top:0;min-height:100px;height:132px;top: inherit !important;}
.add_bottom_div .main_add{height:130px;overflow: hidden;}
/*.open .main_add{display: none;transition: all 1s}*/
	/* ============================================================
  GLOBAL
============================================================ */
.effects {
  /*padding-left: 15px;*/
}
.box{
	width: 274px !important;
	height: 320px !important;
	background: #fff;
	border: solid 6px #fff;
	overflow: hidden;
	float: left;
}
.effects .img {
  position: relative;
  float: left;
  margin-bottom: 5px;
  width: 237px;
  overflow: hidden;
  height: 309px;
  background: #fff;
	border: solid 6px #fff;
}
.effects .img:nth-child(n) {
  margin: 6px;
}
.effects .img:first-child {
  margin: 6px;
}
.effects .img:last-child {
 margin: 6px;
}
.effects .img img {
  display: inline-block; margin-right:5px;
  margin: 0;
  padding: 0;
  max-width: 100%;
  height: auto;
}

.overlay {
  display: block;
  position: absolute;
  z-index: 20;
  background: url("../images/trans_back.png") left top repeat;
  overflow: hidden;
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  -o-transition: all 0.5s;
  transition: all 0.5s;
 
}

a.close-overlay {
  display: block;
  position: absolute;
  top: 0;
  right: 0;
  z-index: 100;
  width: 45px;
  height: 45px;
  font-size: 20px;
  font-weight: 700;
  color: #fff;
  line-height: 45px;
  text-align: center;
  background-color: #000;
  cursor: pointer;

}
a.close-overlay.hidden {
  display: none;
}

a.expand {
  display: block;
  position: absolute;
  z-index: 100;
  width: 60px;
  height: 60px;
  border: solid 5px #fff;
  text-align: center;
  color: #fff;
  line-height: 50px;
  font-weight: 700;
  font-size: 30px;
  -webkit-border-radius: 30px;
  -moz-border-radius: 30px;
  -ms-border-radius: 30px;
  -o-border-radius: 30px;
  border-radius: 30px;
}

/* ============================================================
  EFFECT 1 - SLIDE IN BOTTOM
============================================================ */
#effect-1 .overlay {
  bottom: 0px;
  left: 0;
  right: 0;
  width: 100%;
  height: 0;
  min-height: 22px;
}
#effect-1 .overlay a.expand {
  left: 0;
  right: 0;
  bottom: 50%;
  margin: 0 auto -30px auto;
}
#effect-1 .img.hover .overlay {
  height: 100%;
}
/*----------------------------- Descriptions ---------------------------------*/
.descriptions{
	width: 90%;
	padding: 1% 5%;
	height: auto;
}
.descriptions h1{ font-size:20px; padding: 0; padding: 0; line-height: 20px; text-align: center; color: #0099ff;}
.descriptions P{ padding: 0;  margin: 26px 10px ; text-align: center; font-size: 15px; color:#727273; font-weight: normal;}
.descriptions P img{text-align: center !important; float: none !important; display: inline-block !important; 
width:140px !important; height: 40px; margin: 0 auto; }
.descriptions P span{color: #000;font-size:13px; }
.descriptions .acc-btn{ width: 80px; height: 32px; line-height: 32px; float: left; margin-right: 10px;
border: none; border-radius: 3px; background: #0099ff; display: inline-block; text-align: center; font-size:12px; text-transform: uppercase;
color: #fff; cursor: pointer; }

.chat_wth_btn{ width: 80px; height: 32px; line-height: 32px; float: left; margin-right: 10px;
border: none; border-radius: 3px; background: #0099ff; display: inline-block; text-align: center; font-size:12px; text-transform: uppercase;padding:0px;
color: #fff; cursor: pointer; }

.descriptions .dec-btn{ width: 80px; height: 32px; line-height: 32px; float: right;
border: none; border-radius: 3px; background: #ee4337; display: inline-block; text-align: center; font-size:12px; text-transform: uppercase;
color: #fff; cursor: pointer; 
}


/***************new addition *****************/

#disreqfr{margin-bottom:10px; display:block}
#diagacc button, #diagreg button, #diagsl button{margin-bottom:8px; padding:4px 5px; min-width:120px; border:0; background:none; cursor:pointer}
#diagacc button{background:green; color:#fff}
#diagreg button{background:#0097fb; color:#fff}
#diagsl button{background:magenta; color:#fff}

/* ------------------------------------------------------------ *\
|* ------------------------------------------------------------ *|
|* Media Queries
|* ------------------------------------------------------------ *|
\* ------------------------------------------------------------ */
@media only screen and (max-width: 1100px) {
  .effects {
    padding-left: 5px;
  }
  .effects .img {
    width: 30%;
	height: auto;
  }
  .effects .img:nth-child(n) {
    margin-right: 5px;
  }
  .effects .img:first-child {
    margin-left: 0;
  }
  .effects .img:nth-child(2n-1) {
    margin-left: -5px;
  }
  .effects .img:nth-child(2n) {
    margin-right: 0;
  }
  .effects .img:last-child {
    margin-right: 0;
  }
}
@media only screen and (max-width: 520px) {
  .effects .img {
    width: 274px;
	height: auto;
	float: none; margin: 6px auto;
  }
  .effects .img:nth-child(n) {
  float: none; margin: 6px auto;
  }
  .effects .img:first-child {
   float: none; margin: 6px auto;
  }
  .effects .img:nth-child(2n-1) {
   float: none; margin: 6px auto;
  }
  .effects .img:nth-child(2n) {
   float: none; margin: 6px auto;
  }
  .effects .img:last-child {
    float: none; margin: 6px auto;
  }
  .effects .img img {
    margin: 0 auto;
  }
}
