@charset "utf-8";
/* CSS Document */
* {
	margin: 0;
	padding: 0;
	outline: 0;
}
/*body, html { height: 100%; }*/

body {
	font-size: 12px;
	line-height: 18px;
	font-family: arial, sans-serif;
	color: #666;
	background: #FFF;
	min-width: 100%;
}
small {
	font-size: 10px;
}
ol {
	list-style: none;
}
ul {
	list-style: none;
}
li {
	list-style-type: none;
}
a {
	text-decoration: none;
	color: inherit;
}
/* Clearfix */
.clearfix {
	float: none;
	clear: both;
	line-height: 0;
}
/* ---------------------------------------------------------------------- */
/*	Wrap
/* ---------------------------------------------------------------------- */
@font-face {
	font-family: 'dosislight';
	src: url('fonts/dosis-light-webfont.eot');
	src: url('fonts/dosis-light-webfont.eot?#iefix') format('embedded-opentype'), url('fonts/dosis-light-webfont.woff') format('woff'), url('fonts/dosis-light-webfont.ttf') format('truetype'), url('fonts/dosis-light-webfont.svg#dosislight') format('svg');
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: 'times_new_romanregular';
	src: url('fonts/times-webfont.eot');
	src: url('fonts/times-webfont.eot?#iefix') format('embedded-opentype'), url('fonts/times-webfont.woff') format('woff'), url('fonts/times-webfont.ttf') format('truetype'), url('fonts/times-webfont.svg#times_new_romanregular') format('svg');
	font-weight: normal;
	font-style: normal;
}
.container_main {
	margin: 0 auto;
	height: auto;
	width: 1282px;
}
/*------------------------------------------------------------------
Header Section
-------------------------------------------------------------------*/

header {
	width: 100%;
	height: 77px;
	background: url(../images/header_back.png) repeat-x;
	border-bottom: 0px solid red;
}
.logo {
	width: 105px;
	height: 77px;
	float: left;
}
.logo img {
	width: 105px;
	height: 77px;
	float: left;
}
nav {
	width: auto;
	height: auto;
	overflow: hidden;
	margin-left: 85px;
	float: left;
	margin-top: 30px
}
nav a {
	color: #4b4b4b;
	font-family: arial;
	font-size: 16px;
	margin-right: 24px;
}
.right_header {
	width: 282px;
	height: 32px;
	float: right;
	border: 0px solid red;
	margin-top: 20px;
}
.right_header span {
	float: left;
	color: #0d4c78;
	font-family: arial;
	font-size: 12px;
}
.right_header a {
	margin: 0 5px;
	line-height: 30px;
}
.right_header ul {
	width: auto;
	height: auto;
	overflow: hidden;
	float: right;
}
.right_header ul li {
	width: auto;
	height: auto;
	overflow: hidden;
	float: left;
}
.search_header {
	width: 100%;
	height: 52px;
	background: #0a3858;
}
.search_header span {
	color: #ffffff;
	font-size: 16px;
	font-family: arial;
	float: left;
	margin-top: 17px;
}
.search_header .select_location {
	width: 165px;
	height: 27px;
	border-radius: 3px;
	float: left;
	overflow: hidden;
	margin-left: 15px;
	margin-top: 15px;
	background-image: url(../images/search_btn.png);
	background-repeat: no-repeat;
	background-position: center right;
	background-color: #fff;
}
.search_header .select_location select {
	width: 120%;
	background: none;
	border: 0;
	margin-top: 4px;
}
.search_keyword {
	width: 165px;
	height: 27px;
	border-radius: 3px;
	float: left;
	background-color: #fff;
	border: 0;
	margin-left: 15px;
	margin-top: 15px;
	padding-left: 10px
}
.check_in, .check_out {
	float: left;
	width: 127px;
	height: 27px;
	position: relative;
	float: left;
	margin-left: 15px;
	margin-top: 15px;
}
.check_in input[type="text"], .check_out input[type="text"] {
	width: 117px;
	height: 27px;
	border-radius: 3px;
	float: left;
	border: 0;
	padding-left: 10px
}
.check_in img, .check_out img {
	position: absolute;
	z-index: 999;
	right: 3px;
	top: 3px;
}
.search_header input[type="button"] {
	width: 68px;
	height: 27px;
	background: url(../images/find_button.png) repeat-x;
	border: 0;
	margin-left: 15px;
	margin-top: 15px;
	border-radius: 3px;
	color: #ffffff;
	font-size: 14px;
	font-family: arial;
	text-transform: uppercase;
	cursor: pointer;
}
.search_header p {
	float: right;
	color: #ffffff;
	font-size: 14px;
	font-family: arial;
	margin-top: 15px;
	display: block;
}
.slider_holder {
	width: 100%;
	height: auto;
	background: #0d4c78;
	padding: 15px 0;
}
.main_slider {
	width: 100%;
	height: 380px;
	position: relative;
	padding: 2px 0
}
.left_wings, .right_wings {
	width: 323px;
	height: 380px;
	float: left;
	margin-top: 3px
}
.right_wings {
	float: right
}
.left_wings img, .right_wings img {
	width: 303px;
	height: 227px;
	margin: 0 auto;
	display: block;
	border: 10px solid #fff;
}
.slider_middle {
	width: 717px;
	height: 0px;
	border: 0px solid #fff;
	position: relative;
	margin: 0 auto
}
.slider_middle_holder {
	width: 717px;
	height: 400px;
	border: 0px solid red;
	position: absolute;
}
.left_shadow, .right_shadow {
	float: left;
	height: 32px;
	width: 42px
}
.right_shadow {
	float: right;
}
.banner {
	width: 697px;
	height: 328px;
	border: 10px solid #fff;
}
.left_wings ul {
	color: #fff;
	font-size: 18px;
	width: 266px;
	float: left;
	margin-top: 20px;
	font-family: 'dosislight';
}
.right_wings ul {
	color: #fff;
	font-size: 18px;
	width: 266px;
	float: right;
	margin-top: 20px;
	font-family: 'dosislight';
}
.left_wings ul li, .right_wings ul li {
	background: url(../images/arrow.png) left center no-repeat;
	padding-left: 20px;
	margin-bottom: 13px
}
/***************************************/
.main_body {
	width: 100%;
	height: auto;
}
.left_panel {
	width: 276px;
	height: auto;
	float: left;
	border: 0px solid red;
	margin:15px 0;
}
.left_panel ul.left_place {
	width: 100%;
	height: auto;
	overflow: hidden;
}
.left_panel ul.left_place li {
	margin: 15px 1px;
}
.left_panel ul.left_place li img {
	border: 7px solid #fff;
	box-shadow: 0px 1px 2px 0px #808080
}
ul.top_piority {
	width: 99%;
	border: 1px solid #c0c1c2;
	overflow: hidden;
	margin-bottom: 5px
}
ul.top_piority li {
	background: url(../images/arrow_arrow.png) 6% center no-repeat;
	padding: 7px 5px 7px 40px;
	border-bottom: 1px dotted #808080;
	width: 90%
}
ul.top_piority li:first-child {
	width: 100%;
	background: url(../images/top_piority.png) repeat-x;
	font-family: 'times_new_romanregular';
	font-size: 30px;
	color: #7d7d7d;
	text-align: center;
	padding: 15px 0;
	border: 0
}
ul.top_piority li:last-child {
	border: 0;
}
ul.top_piority li:first-child b {
	color: #2c2c2c;
}
/***************************************right_panel******************************/
.right_panel {
	float: right;
	width: 1000px;
	height: auto;
	overflow: hidden;
	border: 0px solid red;
	height: auto;
	min-height: 375px;
	overflow: hidden;
	background: url(../images/map.png) top center no-repeat;
}
.right_panel ul.country {
	width: 100%;
	height: auto;
	overflow: hidden;
}
.right_panel ul.country li {
	width: 309px;
	height: 274px;
	background-color: #fff;
	box-shadow: 0px 1px 2px 0px #808080;
	float: left;
	margin: 12px;
	background-repeat: no-repeat;
	background-position: right bottom
}
.right_panel ul.country li:nth-child(1) {
	background-image: url(../images/canada.png)
}
.right_panel ul.country li:nth-child(2) {
	background-image: url(../images/mexico.png)
}
.right_panel ul.country li:nth-child(3) {
	background-image: url(../images/south_america.png)
}
.right_panel ul.country li:nth-child(4) {
	background-image: url(../images/europe.png)
}
.right_panel ul.country li:nth-child(5) {
	background-image: url(../images/asia.png)
}
.right_panel ul.country li:nth-child(6) {
	background-image: url(../images/afica.png)
}
.right_panel ul.country li h2 {
	color: #0d4c78;
	font-size: 18px;
	font-family: 'times_new_romanregular';
	font-weight: normal;
	width: 100%;
	padding: 20px 10px;
}
.right_panel ul.country li hr {
	width: 95%;
	border: 0;
	border-top: 1px solid #d3d5d0;
	margin: 0 auto;
}
.right_panel ul.country li a {
	color: #7c7c7c;
	font-size: 14px;
	font-family: arial;
	float: none;
	display: block;
	margin-left: 10px;
	margin-top: 5px;
}
.slider_bottom {
	width: 100%;
	height: auto;
	overflow: hidden;
	margin-left:10px;margin-top:12px;
}
.item {
	width: 309px;
	height: 498px;
	background-color: #fff;
	box-shadow: 0px 1px 2px 0px #808080;
	float: left;
	margin: 2px;
	position: relative;
}
.item .image_holder {
	width: 100%;
	height: 242px;
	position: relative;
}
.item .image_holder .img_main {
	width: 100%;
	height: 242px;
}
.item p {
	color: #767676;
	font-size: 14px;
	font-family: arial;
	padding: 10px;
	display: inline-block;
	line-height: 18px;
	text-align: left;
}
.item span {
	color: #767676;
	font-size: 12px;
	font-family: arial;
	padding: 10px;
	display: block;
	line-height: 18px;
	text-align: left;
}
.item span b {
	color: #484848;
	font-size: 12px;
	float: left;
	margin-right: 5px;
	text-align: left;
}
.item span img {
	float: left;
}
.item hr {
	border: 0;
	width: 95%;
	border-top: 1px solid #d3d5d0;
	margin: 0 auto;
}
.details {
	float: left;
	background: url(../images/details.png) repeat-x;
	color: #fff;
	font-family: arial;
	font-size: 14px;
	border: 0;
	border-radius: 3px;
	padding: 5px 10px;
	margin: 10px 0 10px 10px;
	cursor: pointer;
}
.image_tag {
	width: 122px;
	height: 114px;
	position: absolute;
	z-index: 999;
	top: 0;
	left: 0;
}
.slidesjs-pagination {
	display: none;
}
.slidesjs-navigation {
	bottom: 0;
	right: 0;
}
.slidesjs-previous {
	right: 33px;
	text-indent: -9999px;
	height: 30px;
	width: 30px;
	background: url(../images/prev.png) no-repeat;
}
.slidesjs-next {
	background: url(../images/next.png) no-repeat;
	text-indent: -9999px;
	height: 30px;
	width: 30px;
}
/*****************************************footer**********************/

footer {
	width: 100%;
	height: auto;
	overflow: hidden;
	background: #0a3a5b;
	padding: 20px 0;
}
.footer_left {
	width: 430px;
	height: auto;
	overflow: hidden;
	border: 0px solid red;
	float: left;
}
.footer_left p {
	color: #0f598b;
	font-size: 12px;
	margin: 10px 0
}
.footer_left a {
	color: #fff;
	font-size: 12px;
	margin: 0 5px
}
.footer_left span {
	color: #777777;
	font-size: 12px;
	margin: 0 5px;
	display: block;
}
.footer_left ul li {
	float: left;
	margin-right: 10px;
	margin-top: 10px;
}
.footer_right {
	float: right;
	margin-top: 20px;
}
/*------------------------------------------------------------------
Slider Classes 27-06-2014
--------------------------------------------------------------------*/


#flexiselDemo1, #flexiselDemo2, #flexiselDemo3 {
	display: none;
}
.nbs-flexisel-container {
	position: relative;
	max-width: 100%;
}
.nbs-flexisel-ul {
	position: relative;
	width: 9999px;
	margin: 0px;
	padding: 0px;
	list-style-type: none;
	text-align: center;
}
.nbs-flexisel-inner {
	overflow: hidden;
	float: left;
	width: 100%;
}
.nbs-flexisel-item {
	float: left;
	margin: 0px;
	padding: 0px;
	cursor: pointer;
	position: relative;
	line-height: 0px;
}
.nbs-flexisel-item img {
	width: auto;
}
/*** Navigation ***/

.nbs-flexisel-nav-left, .nbs-flexisel-nav-right {
	width: 22px;
	height: 22px;
	position: absolute;
	cursor: pointer;
	z-index: 100;
	opacity: 0.5;
}
.nbs-flexisel-nav-left {
	left: 10px;
	background: url(../images/button-previous.png) no-repeat;
}
.nbs-flexisel-nav-right {
	right: 5px;
	background: url(../images/button-next.png) no-repeat;
}
.login {
	width: 100%;
	height: auto;
	overflow: hidden;
	margin: 0;
}
.login h1 {
	font-family: 'times_new_romanregular';
	font-family: 30px;
	color: #0d4c78;
	line-height: 36px;
	padding: 0;
	margin: 0;
	font-weight: normal;
	padding-left: 15px;
}
.login h2 {
	font-family: 'times_new_romanregular';
	font-family: 24px;
	color: #2d3e4f;
	line-height: 36px;
	padding: 0;
	margin: 0 0 12px;
	font-weight: normal;
	padding-left: 15px;
}
.login h2 a {
	text-decoration: none;
	color: #0d4c78;
}
.login h2 a:hover {
	text-decoration: underline;
	color: #0d4c78;
}
.login-box {
	width: 892px;
	height: auto;
	background-color: #fff;
	box-shadow: 0px 1px 2px 0px #808080;
	float: left;
	margin: 2px;
	background-repeat: no-repeat;
	background-position: right bottom;
	padding: 50px;
}
.login-box h3 {
	font-size: 18px;
	font-weight: normal;
	color: #0d4c78;
	line-height: 24px;
	padding: 0;
	margin: 0 0 10px;
	font-family: 'times_new_romanregular';
}
.login-box li {
	line-height: 33px;
	margin: 0 0 18px !important;
	padding: 0;
	font-size: 14px;
	color: #7c7c7c;
	float: none;
	clear: both;
	overflow: hidden;
}
.login-box label {
	width: 150px;
	text-align: right;
	font-size: 14px;
	color: #7c7c7c;
	line-height: 33px;
	float: left;
	display: inline-block;
}
.login-box input.email {
	width: 421px;
	height: 31px;
	float: left;
	margin-left: 10px;
	background: #fff;
	border: solid 1px #92aec2;
	border-radius: 3px;
	line-height: 31px;
	color: #999;
	padding: 0 10px;
	font-size: 14px;
	font-style: italic;
}
.login-box .bottom-div {
	width: 442px;
	height: auto;
	margin: 15px 0 15px 160px;
}
.login-box .bottom-div p {
	padding: 10px 0;
	font-size: 14px;
	color: #999;
}
.login-box .bottom-div p span {
	float: right;
	text-align: right;
}
.login-box .bottom-div p span a {
	text-decoration: none;
	font-size: 14px;
	color: #0d4c78;
}
.login-box .bottom-div checkbox {
	padding-left: 0;
}
.login-box .bottom-div input.signin-btn {
	width: 75px;
	height: 34px;
	display: block;
	line-height: 32px;
	color: #fff;
	font-size: 14px;
	border: solid 1px #df751b;
	border-radius: 3px;
	background: url(../images/signin-btn.jpg) left center repeat-x;
	cursor: pointer;
}
.login-box .facebook-connectbox {
	width: 442px;
	height: auto;
	margin: 15px 0 15px 160px;
	border-top: solid 1px #ccc;
}
.login-box .facebook-connectbox p {
	padding: 10px 0;
	font-size: 12px;
	font-weight: bold;
	color: #000;
	line-height: 14px;
	clear: both;
	display: block;
}
.login-box .facebook-connectbox p span {
	color: #999;
	font-weight: normal;
	font-size: 11px;
	text-align: left;
}
/*-------------------------------------------------------------------------------------------
Detail p[age class
-----------------------------------------------------------------------------------------*/

.detail-left-col {
	float: left;
	width: 996px;
	height: auto;
	overflow: hidden;
	height: auto;
	min-height: 375px;
	overflow: hidden;
	;
	background: url(../images/map.png) top center no-repeat;
}
.detail-left-col h1 {
	font-size: 30px;
	color: #666;
	font-family: 'times_new_romanregular';
	line-height: 36px;
	margin-bottom: 10px;
	padding: 0;
	margin: 0 0 15px 0;
}
.detail-left-col .main-image {
	width: 100%;
	height: auto;
	overflow: hidden;
	margin: 0 0 15px 0;
}
.detail-left-col .main-image .big {
	width: 996px;
	height: 600px;
	margin: 0 0 10xp 0;
	overflow: hidden;
}
.detail-left-col .main-image .big img {
	width: 100%;
	height: auto;
}
.detail-left-col .main-image .thumbnails {
	width: 996px;
	height: auto;
	overflow: hidden;
	margin: 10px 0;
}
.detail-left-col .main-image .thumbnails li {
	list-style-type: none;
	float: left;
	width: 81px;
	height: 65px;
	margin-right: 2px;
	overflow: hidden;
}
.detail-left-col .main-image .thumbnails li:last-child {
	margin-right: 0;
}
.detail-left-col .main-image .thumbnails li img {
	width: 81px;
	height: auto;
}
.detail-left-col .main-image .descriptions {
	width: 996px;
	height: auto;
	overflow: hidden;
	margin: 0;
}
.detail-right-col {
	width: 276px;
	height: auto;
	float: right;
	margin: 0;
}
.favlink {
	width: 100%;
	height: auto;
	background-color: #f4f4f4;
	border: 1px solid #d4d4d4;
	border-radius: 6px;
	margin-bottom: 20px;
	padding: 10px;
}
.favlink a {
	bline-height: 18px;
	font-size: 14px;
	background: url(../images/fav.jpg) left center no-repeat;
	color: #0a3858;
	height: 18px;
	text-decoration: none;
	padding: 0;
	margin: 0;
	padding-left: 20px;
	display: block;
}
.right-box {
	width: 100%;
	height: auto;
	background-color: #f4f4f4;
	border: 1px solid #d4d4d4;
	border-radius: 6px;
	margin-bottom: 20px;
	padding: 10px;
	overflow: hidden;
}
.right-box h1 {
	text-align: center;
	font-size: 30px;
	color: #000;
	line-height: 36px;
	margin-bottom: 10px;
	padding: 0;
}
.right-box p {
	padding: 0;
	margin: 7px 0;
	text-align: center;
	font-size: 14px;
	color: #666;
}
.right-box p a {
	text-decoration: none;
	color: #0a3858;
	font-size: 14px;
	padding-bottom: 10px;
	border-bottom: solid 1px #dad5c6;
	margin-bottom: 15px;
	display: block;
}
.check_in1, .check_out1 {
	float: left;
	width: 115px;
	height: 27px;
	position: relative;
	float: left;
	margin-left: 15px;
	margin-top: 15px;
	border: solid 1px #c0c0c0;
}
.check_in1 input[type="text"], .check_out1 input[type="text"] {
	width: 105px;
	height: 27px;
	border-radius: 3px;
	float: left;
	border: 0;
	padding-left: 10px
}
.check_in1 img, .check_out1 img {
	position: absolute;
	z-index: 999;
	right: 3px;
	top: 3px;
}
.right-box .book_btn {
	width: 100%;
	height: 27px;
	line-height: 27px;
	border: solid 1px #dc711c;
	color: #fff;
	line-height: 14px;
	background: url(../images/btn-bg.jpg) left center repeat-x;
	text-align: center;
	border-radius: 6px;
	cursor: pointer;
	padding:5px;
}
/********************************details_by soutik**********************/
.owner, .payments, .vacation {
	width: 100%;
	height: auto;
	background-color: #f4f4f4;
	border: 1px solid #d4d4d4;
	border-radius: 6px;
	margin-bottom: 20px;
	padding: 10px;
	overflow: hidden;
}
.owner h2, .vacation h2 {
	font-family: arial;
	color: #000;
	font-size: 15px;
	text-align: center;
}
.owner input[type="button"] {
	width: 95%;
	margin: 0 auto;
	display: block;
	border: 0;
	border: 1px solid #0A3858;
	border-radius: 4px;
	padding: 5px 0;
	margin: 10px 0;
	cursor: pointer;
	background: url(../images/button.png) repeat-x;
	color: #0A3858;
	display: block;
	font-size: 14px;
	font-family: arial;
}
.payments img {
	margin: 10px auto;
	float: none;
	display: block;
}
.vacation p {
	padding-left: 20px;
	display: block;
	margin-top: 10px;
}
.vacation img {
	float: left;
	margin-right: 10px;
}
.details_menu {
	width: 99%;
	height: auto;
	overflow: hidden;
	border: 1px solid #d4d4d4;
	border-radius: 4px;
	background: url(../images/button.png) repeat-x;
	margin: 20px 0;
}
.details_menu a {
	float: left;
	color: #3d3d3a;
	font-size: 13px;
	padding: 10px 53px;
	border-right: 1px solid #d4d4d4
}
.details_menu a:last-child {
	border-right: 0;
}
/********************overview**************************/
.overview, .rates {
	width: 100%;
	height: auto;
	overflow: hidden;
}
.overview h3, .reviews h3, .rates h3 {
	color: #666666;
	font-family: 'times_new_romanregular';
	font-size: 20px;
	line-height: 36px;
	margin: 0 0 15px;
	padding: 0;
}
.overview h4 {
	color: #393939;
	font-family: 'arial';
	font-size: 15px;
	line-height: 36px;
	margin: 0;
	padding: 0;
}
.overview h4 span {
	color: #666666;
	font-size: 15px;
	font-weight: normal;
}
.overview p {
	color: #666666;
	font-family: 'arial';
	font-size: 15px;
	line-height: 20px;
	margin: 0 0 15px;
	padding: 0;
}
.detail-left-col hr {
	border: 0;
	width: 100%;
	border-top: 1px dashed #d4d4d4;
}
.overview table {
	width: 100%;
}
.overview table tr td {
	width: 33%;
}
.overview i {
	color: #a4a4a4
}
.reviews {
	width: 100%;
	height: auto;
	overflow: hidden
}
.write_review {
	width: auto;
	height: auto;
	overflow: hidden;
	border: 1px solid #d4d4d4;
	border-radius: 4px;
	background: url(../images/button.png) repeat-x;
	float: right;
	padding: 5px 40px;
}
.reviews h4 {
	color: #393939;
	font-family: 'arial';
	font-size: 15px;
	line-height: 36px;
	margin: 0;
	padding: 0;
	float: left;
}
.reviews .left_img {
	width: 75px;
	height: auto;
	float: left;
	border: 0px solid red;
}
.reviews .left_img img {
	width: 74px;
	height: 74px;
	box-shadow: 0px 2px 2px 1px #808080;
}
.reviews .left_img a {
	color: #0A3858;
	font-family: 'arial';
	font-size: 12px;
	text-align: center;
	line-height: 15px;
	display: block;
}
.reviews .left_img span {
	color: #a0a49d;
}
ul.review_list {
	width: 100%;
	height: auto;
	overflow: hidden;
}
ul.review_list li {
	width: 100%;
	height: auto;
	padding: 10px 0;
	border-bottom: 1px dashed #a0a49d;
	overflow: hidden;
}
.reviews .right_des {
	width: 800px;
	float: left;
	margin-left: 20px;
	height: auto;
	overflow: hidden;
}
ul.star {
	float: none;
	display: block;
	height: auto;
	widthj: auto;
	overflow: hidden;
}
ul.star li {
	float: left;
	margin: 0;
	border: 0;
	paddibng: 0;
	display: inline;
	width: auto;
}
.rates h3 {
	float: left
}
.rates a {
	float: right;
	color: #0A3858;
	margin-top: 10px;
}
.rental {
	width: 100%;
	height: auto;
	overflow: hidden;
}
table.rental_cal {
	width: 100%;
	height: auto;
	overflow: hidden;
	border: 1px solid #d4d4d4;
	text-align: left;
	margin: 20px 0;
}
table.rental_cal tr th {
	background: #F1EFE1
}
table.rental_cal tr td, table.rental_cal tr th {
	width: 143px;
	padding: 10px;
}
table.rental_cal tr td b {
	display: table-header-group;
}
table.rental_cal tr {
	border-bottom: 1px solid #d4d4d4;
	display: table;
}
.gallery_image {
	width: 100%;
	height: auto;
	overflow: hidden;
	margin: 20px 0;
}
.gallery_image img {
	width: 322px;
	height: auto;
	float: left;
	margin: 5px;
}
/*********************************************************************************/

.filter {
	width: 100%;
	height: auto;
}
.filter_search {
	width: auto;
	height: 25px;
	/*border: 1px solid #d4d4d4;*/
	float: left;
	margin: 20px 0;
	/*padding: 1px 40px 1px 10px;*/
	font-family: arial;
	font-size: 13px;
	color: #4f4f44;
	line-height: 24px;
	/*background: url(../images/search_btn.png), url(../images/button.png);
	background-repeat: no-repeat, repeat-x;
	background-position: center right, center center;*/
	margin-right: 20px;
	position: relative;
}
.filter_search select{ padding:5px; border:1px solid #ccc; width:200px;}
.left_text {
	float: left;
	border-right: 1px solid #d4d4d4;
	padding-right: 10px;
	width: 100px
}
.right_text {
	float: left;
	padding-left: 10px;
}
.search_filter_details {
	width: 200px;
	height: auto;
	background: #fff;
	position: absolute;
	z-index: 999;
	top: -1px;
	left: 100px;
	padding: 10px;
	border: 0px solid red;
	box-shadow: 0px 1px 2px 0px #808080;
	display: none;
}
.search_filter_details ul {
	width: 100%;
	height: auto;
	overflow: hidden;
}
.search_filter_details ul li {
	width: 100%;
	height: auto;
	overflow: hidden;
}
.minimum, .maximum {
	width: 90px;
	height: 25px;
	border: 0;
	border: 1px solid #d4d4d4;
	float: left;
	margin: 10px 0;
}
.maximum {
	float: right
}
.apply, .close {
	width: auto;
	height: auto;
	overflow: hidden;
	padding: 2px 20px;
	background: url(../images/button.png);
	border: 0;
	border: 1px solid #696561;
	border-radius: 5px;
	float: left;
	cursor: pointer;
}
.close {
	float: right
}
.listing {
	width: 100%;
	height: auto;
	overflow: hidden;
}
.listing table {
	width: 100%;
	height: auto;
	overflow: hidden;
}
.listing tr {
	width: 100%;
	height: auto;
	overflow: hidden;
	border-bottom: 1px solid #373939;
}
.listing table tr th {
	background: #0a3a5b;
	color: #fff;
	font-family: arial;
	font-size: 13px;
	padding: 5px 5px
}
.listing table tr td:first-child {
	width: 250px;
}
.listing table tr td:first-child img {
	width: 240px;
	height: auto;
	border: 5px solid #fff;
	box-shadow: 0px 1px 2px 1px #808080;
	margin: 5px;
}
.listing table tr td:first-child + td {
	padding: 5px 20px;
}
.middle_des h2 {
	color: #525252;
	font-family: arial;
	font-size: 18px;
	line-height: 35px;
}
.middle_des p, .listing table tr td:last-child p {
	color: #525252;
	font-family: arial;
	font-size: 12px;
	line-height: 35px;
}
.middle_des span {
	display: block;
}
.middle_des span * {
	float: left;
	margin-right: 5px;
}
.listing table tr td:last-child strong {
	color: #a39f10;
	font-family: arial;
	font-size: 20px;
	line-height: 35px;
	text-align: right;
	float: right
}
.listing table tr td:last-child aside {
	display: block;
	float: right;
}
.listing table tr td:last-child aside * {
	float: left;
}
.listing table tr td:last-child p {
	float: right
}
.listing table tr td:last-child aside img {
	margin-top: 5px;
	margin-right: 10px;
}
.listing table tr td:last-child aside input[type="button"] {
	background: url("../images/find_button.png") repeat-x scroll 0 0 rgba(0, 0, 0, 0);
	border: 0 none;
	border-radius: 3px;
	color: #ffffff;
	cursor: pointer;
	font-family: arial;
	font-size: 12px;
	height: 27px;
	text-transform: uppercase;
	width: auto;
}
/*--------------account setting page-------------*/

.accountpage_left_panel {
	width: 274px;
	height: auto;
	float: left;
	border: 0px solid red;
	border: 1px solid #CCC;
	border-radius: 10px;
	-mox-border-radius: 10px;
	-webkit-border-radius: 10px;
	background-color:#f7f7f7;
	margin-bottom:40px;
}
.accountpage_left_panel ul.left_area {
	width: 100%;
	height: auto;
	overflow: hidden;
}
.accountpage_left_panel ul.left_area li {
	margin:0px;
	color:#000;
	font: 14px Helvetica, Arial, Sans-Serif;
	padding:8px 10px;
	border-bottom:1px solid #e7e6e6;
}
.accountpage_left_panel ul.left_area li a{
	color:#000;
	font: 14px Helvetica, Arial, Sans-Serif;
}
.accountpage_left_panel ul.left_area li a:hover{
	color:#999;
	font: 14px Helvetica, Arial, Sans-Serif;
}
.accountpage_left_panel ul.left_area li aside {
	color:#000;
	font: 14px Helvetica, Arial, Sans-Serif;
	line-height:25px;
}
.accountpage_left_panel ul.left_area li:first-child {
	padding:10px;
	font-weight:bold;
	border-radius:10px 10px 0 0;
	-mox-border-radius: 10px 10px 0 0;
	-webkit-border-radius: 10px 10px 0 0;
	border:none;
	color:#FFF;
/*	background: linear-gradient(to right, #fda11d, #ffc148);
	background: -moz-linear-gradient(to right, #fda11d, #ffc148); 
	background: -webkit-linear-gradient(to right, #fda11d, #ffc148); */
	background:#0d4c78;
}
.accountpage_left_panel ul.left_area li img {
	border: none;
	margin-right:10px;
	float:left;
}
.accountpage_right_panel {
	float: right;
	width: 948px;
	margin-left: 50px;
	height: auto;
	overflow: hidden;
	border: 0px solid red;
	height: auto;
	min-height: 375px;
	overflow: hidden;
	border: 1px solid #CCC;
	border-radius: 10px;
	-mox-border-radius: 10px;
	-webkit-border-radius: 10px;
}
.accountpage_right_panel .topside {
	background-color:#f7f7f7;
}
.accountpage_right_panel .bottomside {
	background-color:#FFF;
	padding-bottom:20px;
}
.accountpage_right_panel h1{ padding:20px; font-size:30px; color:#000; font-family:"Times New Roman",Cambria, "Hoefler Text", "Liberation Serif", Times, serif}
.accountpage_right_panel ul{width:100%; float:left; border-top:1px solid #CCC; border-bottom:1px solid #ccc; margin-bottom:20px;}
.accountpage_right_panel ul li{ float:left; border-right:1px solid #999 ;background: -webkit-linear-gradient(#eeeeee, #c2c2c2); /* For Safari 5.1 to 6.0 */
	background: -o-linear-gradient(#eeeeee, #c2c2c2); /* For Opera 11.1 to 12.0 */
	background: -moz-linear-gradient(#eeeeee, #c2c2c2); /* For Firefox 3.6 to 15 */
	background: linear-gradient(#eeeeee, #c2c2c2); /* Standard syntax */}
.accountpage_right_panel ul li a{
	color:#000;
	line-height:20px;
	display:block;
	padding:10px;
	
	}
.accountpage_right_panel ul li a:hover{ color:#000; background-color:#FFF; line-height:20px; display:block;}
.accountpage_right_panel .inner{
	width:90%;
	margin:0 auto;
	height:auto;
	border:1px solid #c6c6c6;
	border-radius: 5px;
	-mox-border-radius:5px;
	-webkit-border-radius:5px;
	padding:2%;
	
	}
.accountpage_right_panel .inner h2{	font-size:18px; color:#000; padding:5px 0px; border-bottom:1px solid #f0f0f0}
.accountpage_right_panel .inner p{ padding:15px 0px;}

.wrapper {width:100%;overflow:hidden; margin-bottom:10px;}
.required{font-size:12px; float:right;}
#ContactForm {padding-top:2px}
/*#ContactForm span {float:left;width:190px;line-height:24px; font-weight:bold; color:#000;}*/
/*#ContactForm a {float:right;width:94px;height:43px;font-size:16px;color:#fff;text-decoration:none;line-height:32px;text-align:center;background:#FFFF00;border-radius:8px;-moz-border-radius:8px;-webkit-border-radius:8px; margin-right: 90px; margin-top: 10px;}*/
#ContactForm a:hover {background:#8dcf0f}
#ContactForm .input {
	width:307px;
	height:20px;
	line-height:20px;
	padding:5px;
	color:#000;
	font:12px  Arial, "Trebuchet MS", Helvetica, sans-serif;
	border-radius:3px;
	-moz-border-radius:3px;
	-webkit-border-radius:3px;
	border:1px solid #999;
	margin:0;
	outline:none;
	background:#eee;
	}
#ContactForm select {
	width:317px;
	line-height:20px;
	padding:5px;
	color:#000;
	font:12px  Arial, "Trebuchet MS", Helvetica, sans-serif;
	border-radius:3px;
	-moz-border-radius:3px;
	-webkit-border-radius:3px;
	border:1px solid #999;
	margin:0;
	outline:none;
	background:#eee;
	}	
#ContactForm textarea {
	width:417px !important;
	line-height:20px;
	height:120px;
	padding:5px;
	color:#000;
	font:12px  Arial, "Trebuchet MS", Helvetica, sans-serif;
	border-radius:3px;
	-moz-border-radius:3px;
	-webkit-border-radius:3px;
	border:1px solid #999;
	margin:0;
	outline:none;
	background:#eee;
	}	
.forget{color:#009!important; font-size:10px;}	
/*#ContactForm .yellow{ 
	background-color:#FF0;
	border-radius:3px;
	-moz-border-radius:3px;
	-webkit-border-radius:3px;
	border:1px solid #FC0;
	padding:5px 12px;
	outline:none;
	cursor:pointer;
	margin-top:5px;
	margin-left:190px;
	}*/

.yellow{ 
	background: url("../images/find_button.png") repeat-x scroll 0 0 rgba(0, 0, 0, 0);
    border: 0 none;
    border-radius: 3px;
    color: #ffffff;
    cursor: pointer;
    font-family: arial;
    font-size: 12px;
    height: 27px;
    margin-left: 15px;
    margin-top: 15px;
    text-transform: uppercase;
    min-width: 100px; padding:5px;
	padding::5px!important;
	}
	
	
	
/**************************************************/
	.breadcrumb {
	/*centering*/
	display: inline-block;
	
	overflow: hidden;
	
	/*Lets add the numbers for each link using CSS counters. flag is the name of the counter. to be defined using counter-reset in the parent element of the links*/
	counter-reset: flag; 
	padding-right:20px;
}

.breadcrumb a {
	text-decoration: none;
	outline: none;
	display: block;
	float: left;
	font-size: 14px;
	line-height: 36px;
	color: white;
	/*need more margin on the left of links to accomodate the numbers*/
	padding: 0 20px 0 40px;
	background: #666;
	background: linear-gradient(#666, #333);
	background: -moz-linear-gradient(#666, #333);
	background: -webkit-linear-gradient(#666, #333);
	position: relative;
	border-top:1px solid #808080;
	border-bottom:1px solid #808080;
	font-family:arial;
	font-weight:bold;
}
.breadcrumb a:first-child
{
	border-left:1px solid #808080;
}
/*since the first link does not have a triangle before it we can reduce the left padding to make it look consistent with other links*/



/*hover/active styles*/
.breadcrumb a.active, .breadcrumb a:hover{
	background: #ED992A;
	background: linear-gradient(#ED992A, #ED992A);
	background: -moz-linear-gradient(#ED992A, #ED992A);
	background: -webkit-linear-gradient(#ED992A, #ED992A);
}
.breadcrumb a.active:after, .breadcrumb a:hover:after {
	background: #333;
	background: linear-gradient(135deg, #333, #000);
	background: -moz-linear-gradient(135deg, #333, #000);
	background: -webkit-linear-gradient(135deg, #333, #000);
}

/*adding the arrows for the breadcrumbs using rotated pseudo elements*/
.breadcrumb a:after {
	content: '';
	position: absolute;
	top: 0; 
	right: -18px; /*half of square's length*/
	/*same dimension as the line-height of .breadcrumb a */
	width: 36px; 
	height: 36px;
	/*as you see the rotated square takes a larger height. which makes it tough to position it properly. So we are going to scale it down so that the diagonals become equal to the line-height of the link. We scale it to 70.7% because if square's: 
	length = 1; diagonal = (1^2 + 1^2)^0.5 = 1.414 (pythagoras theorem)
	if diagonal required = 1; length = 1/1.414 = 0.707*/
	transform: scale(0.707) rotate(45deg);
	/*we need to prevent the arrows from getting buried under the next link*/
	z-index: 1;
	/*background same as links but the gradient will be rotated to compensate with the transform applied*/
	background: #666;
	background: linear-gradient(135deg, #666, #333);
	background: -moz-linear-gradient(135deg, #666, #333);
	background: -webkit-linear-gradient(135deg, #666, #333);
	/*stylish arrow design using box shadow*/
	box-shadow: 
		2px -2px 0 2px rgba(0, 0, 0, 0.4), 
		3px -3px 0 2px rgba(255, 255, 255, 0.1);
	/*
		5px - for rounded arrows and 
		50px - to prevent hover glitches on the border created using shadows*/
	border-radius: 0 5px 0 50px;
	-moz-border-radius: 0 5px 0 50px;
	-webkit-border-radius: 0 5px 0 50px;
}
/*we dont need an arrow after the last link*/

/*we will use the :before element to show numbers*/




.flat a, .flat a:after {
	background: #ED992A;
	color: #fff;
	transition: all 0.5s;
}
.flat a:before {
	background: #ED992A;
	box-shadow: 0 0 0 1px #ccc;
}
.flat a:hover, .flat a.active, 
.flat a:hover:after, .flat a.active:after{
	background: #A5630D;
}



/*--------------------Review Page css---------------------*/

.review{position:relative; height:auto; width:100%; margin-bottom:50px;}
.review h1{padding-bottom:20px; color:#0a3858;}
.review h2{padding-bottom:8px; color:#0a3858;}
.review_left_area {
	width: 65%;
	padding:20px 20px 10px 20px;
	height: auto;
	float: left;
	border: 1px solid #CCC;
	border-radius: 10px;
	-mox-border-radius: 10px;
	-webkit-border-radius: 10px;
	background-color:#f7f7f7;
	margin-bottom:40px;
	margin-right:4%;
}
.review_right_area {
	width:24%;
	padding:20px 20px 10px 20px;
	height: auto;
	float: right;
	border: 1px solid #CCC;
	border-radius: 10px;
	-mox-border-radius: 10px;
	-webkit-border-radius: 10px;
	background-color:#f7f7f7;
	margin-bottom:40px;
}
.review_right_area p{
	padding:3px 0;
}
.review_right_area a{
	color:#039;
}
.review_left_area_top{
	margin:0;
	position:relative;
	top:0;
	left:0;
}
a.review-photo {
    background-color: #aaa;
    border: 2px solid #fff;
    box-shadow: 0 2px 6px #999;
    display: block;
    height: 100px;
    left: 0;
    overflow: hidden;
    position: absolute;
    text-align: center;
    top: 0;
    width: 130px;
}
a.review-photo img {
    height: 100%;
    width: 100%;
}
h2.review-title {
    font-family: Cambria, "Hoefler Text", "Liberation Serif", Times, "Times New Roman", serif;
    font-size: 20px;
    line-height: 22px;
    margin: 0 0 12px;
	padding:0;
    /*padding: 0 0 0 150px;*/
	color:#0d4c78;
}
p.review-summary, p.review-location {
    font-size: 14px;
    line-height: 18px;
    margin: 0 0 2px;
    /*padding: 0 0 0 150px;*/
}

.review-stars {
    background: url("../../images/responsive.png") no-repeat scroll 0 -302px rgba(0, 0, 0, 0);
    color: #333;
    display: inline-block;
    font-family: arial;
    font-size: 16px;
    height: 18px;
    line-height: 18px;
    margin-right: 18px;
    margin-top: 10px;
    padding-left: 150px;
    width: auto;
}
.review-content {
    border-top: 1px dashed #ccc;
    margin: 20px 0px;
    padding: 14px 0 0;
	position:relative;
}
.review-row {
    font-size: 12px;
    line-height: 14px;
    padding: 10px 0;
	clear:both;
}
.review-rowtop{
    color: #676767;
    font-size: 12px;
    left: 0;
    line-height: 14px;
    margin: 0 0 4px;
    position: relative;
    top: 0;
}
.review-rowbottom{
	padding:6px 0;
	position:relative;
}
.review-calendar{
	background:url(../images/calender_img.png) no-repeat right center;
	padding:5px;
	margin:0;
	border:1px solid #999;
	outline:none;
}
.starrating{width: 100%; position:relative;}
.starrating li{width:50px;float:left; margin-right:10px;}
.starrating li img{width:50px; height:50px;}
.starrating li span{ position:relative; display:block; text-align:center;}

.review-wrapper{
	width:100%;margin-bottom:10px;clear:both;
}
.review-wrapper strong{color:#000;}
.review-wrapper span{
	width:100%; padding:2px 0 10px 0; float:left;
}
.review-wrapper span input{
	width:99%;
	height:25px;
	line-height:25px;
	padding:0 5px;
	color:#000;
	font:12px  Arial, "Trebuchet MS", Helvetica, sans-serif;
	border-radius:3px;
	-moz-border-radius:3px;
	-webkit-border-radius:3px;
	border:1px solid #d0cfcf;
	margin:0;
	outline:none;
}
.review-wrapper span textarea{
	width:99%;
	height:85px;
	line-height:25px;
	padding:0 5px;
	color:#000;
	font:12px  Arial, "Trebuchet MS", Helvetica, sans-serif;
	border-radius:3px;
	-moz-border-radius:3px;
	-webkit-border-radius:3px;
	border:1px solid #d0cfcf;
	margin:0;
	outline:none;
}
.review_left_area_bottom{
	margin:0;
	position:relative;
}
label.checklabel{
	width:40%;
	margin-bottom:10px;
	float:left;
}
label.checklabel input[type=checkbox]{ margin-right:8px;}
.review_left_area_bottom .yellow{ 
	background: url("../images/find_button.png") repeat-x scroll 0 0 rgba(0, 0, 0, 0);
    border: 0 none;
    border-radius: 3px;
    color: #ffffff;
    cursor: pointer;
    font-family: arial;
    font-size: 12px;
    height: 27px;
    margin-left: 15px;
    margin-top: 15px;
    text-transform: uppercase;
    min-width: 100px; padding:5px;
	padding::5px!important;
}



.country_back{background: url("../images/map.png") center center no-repeat;padding-right: 25px;}


.floor{width:100%;height:auto;margin:10px auto; position: relative;}
.floor li{width:44%;height:auto;float:left;padding:1%;}
.floor li:last-child{float:right}
.floor li img{width:432px;height:220px;display: block;margin:5px;margin:0 auto}
.floor li b{font-size:15px;margin-bottom:20px;display: block;color:#0D4C78}
.floor li p strong{margin-right:20px;display: block;color:#F67E1F}



.vs{ width: 69px; height: 69px; position: absolute; z-index: 100; top: 450px; left: 45%; }

/******************************************************************************************/
.membership{width:97%;height:auto;overflow:hidden;margin:10px auto}

.membership h2{font-weight:normal;color: #0d4c78;
    font-family: 'times_new_romanregular';
    font-size: 25px;line-height:50px}

.membership p{font-weight:normal;color: #64645b;
    font-family: 'arial';
    font-size: 13px;line-height:18px;margin-bottom:10px}

.membership_result ul{width:100%}
.membership_result li{width:47%;height:170px;overflow:hidden;background:#fbc89d;margin-bottom:2px;padding:1%;float:left;margin:3px;color:#736f68}
.membership_result li img{width:150px;height:100px;border:4px solid #fff;float:left;margin-right:20px;margin-bottom:10px}
.membership_result li b{color:#0D4C78}

.membership .top_left_member{width:513px;float:left}
.membership .top_left_member1{width:100%;float:left}
.membership .top_right_member{width:430px;float:right;margin-right:12px}



.vac{width:auto;margin-top:50px;border-radius:0;height:220px;background:#b7ddf2;margin-bottom:0}
.vac h2{font-size:20px}


/********************New Membership page**********************/
.member_panel {background:#fff;}
.member_top{width:100%; overflow:hidden; position:relative}
.member_top_video_area{width:450px;height:258px; border:2px solid #CCC; float:left}
.member_top_content_area{width:530px;height:auto; float:right; border:0px solid red;}
.member_top_content_area h2{font-family:Arial, Gotham, "Helvetica Neue", Helvetica, sans-serif; font-size:24px; line-height:30px; color:#0d4c78; font-weight:normal}
.member_top_content_area p{font-family:Arial, Gotham, "Helvetica Neue", Helvetica, sans-serif; font-size:14px; color:#919191}
.member_bottom{width:100%;overflow:hidden; position:relative; margin-top:20px; border:0px solid red;}
.member_bottom ul.home_item{width:100%; position:relative; height:auto;overflow:hidden; margin-top:30px; margin-bottom:15px;border:0px solid red;}
.member_bottom ul.home_item li{width:485px; height:180px; background:#f2f2f2; position:relative;border:1px solid #dcdcdc; border-radius:3px; margin-right:20px; margin-top:33px; margin-bottom:16px; float:left; z-index:100}
.member_bottom ul.home_item li .home_item_container{width:96%; margin:35px auto; overflow:hidden; border:0px solid red; position:relative}
.member_bottom ul.home_item li .home_item_container .lft_container{width:150px; height:100px; border:5px solid #fff; float:left}
.member_bottom ul.home_item li .home_item_container .lft_container img{width:100%; height:100%;}
.member_bottom ul.home_item li .home_item_container .rght_container{width:296px; height:auto; border:0px solid red; float:right}
.member_bottom ul.home_item li .home_item_container .rght_container h4{font-family:Arial, Gotham, "Helvetica Neue", Helvetica, sans-serif; font-size:14px; line-height:16px; color:#0d4c78}
.member_bottom ul.home_item li .home_item_container .rght_container p{font-family:Arial, Gotham, "Helvetica Neue", Helvetica, sans-serif; font-size:12px; color:#6d6d6d}

.round_container{width:67px; height:66px; background:url(../images/round_img.png) no-repeat top left; position:absolute; left:45%; bottom:148px;}
.round_container h1{line-height:66px; text-align:center; color:#fff}

.member_bottom ul.home_item li:nth-child(2), .member_bottom ul.home_item li:nth-child(4){margin-right:0; float:right}

/*********************************************soutik 23.9/2014************************************/
.beni_head{width:100%;height:auto;overflow: hidden;position: relative;}
.beni_head img{width:100%;height:auto;display: block;}

.beni_head_float{position: absolute;z-index: 9999;top:0;width:100%}


.beni_head_float h1{font-family: 'Montserrat', sans-serif;color:#fff;font-size:28px;font-style: normal;text-shadow:1px 1px #000;margin-top:40px}

.beni_head_float h3{font-family: 'Carme', sans-serif;color:#000;font-size:14px;font-style: normal;margin-top:15px;font-weight:normal}


.benifits_hold{width:99%;height:auto;overflow: hidden;float:right}
.benifits_hold h2{font-family:arial;font-size:22px;text-transform: uppercase;color:#0a3858;margin:16px 0;}


.benifit_des{width:100%;height: auto;overflow: hidden;background:#f6c97e;}

.ben_des_left{width:310px;float:left;height:auto;overflow: hidden;border:0px solid red;}

.ben_des_left p{color:#605c5c;font-size:14px;font-family: arial;display: block;margin:20px}
.ben_des_right{float:right;width:672px;background:#c4e0fa;border-left:4px solid #fff;}

.ben_des_right ul{width:97%;margin:0 auto;height:auto;overflow: hidden;}
.ben_des_right ul li{width:100%;margin:0 auto;background:#5caffd;margin:10px 0;padding:3px 0;height:auto;overflow: hidden;}
.ben_des_right ul li p{color:#fff;font-size:14px;font-family: arial;display: block;line-height:20px;width:90%;float:left;}
.ben_des_right ul li img{float:left;margin:5px 10px;}



.what_cost{width:99%;height:auto;overflow: hidden;}

.cost{width:100%;height:auto;overflow: hidden;}
.cost li{width:100%;height:auto;overflow: hidden;margin-bottom:6px;}
.cost_left{width:337px;min-height:78px;background:#c4e0fa;float:left;text-align: left;color:#e69e26;font-size:24px;text-shadow:1px 2px #808080;text-indent:20px;line-height:78px;}
.cost_right{width:600px;min-height:78px;background:#e4e0e0;float:right;color:#4a4f54;font-size:19px;padding:0 19px}
.cost_right p{margin:15px 0;font-size:16px;line-height:30px}


.get_started{width:97%;height: auto; padding:14px;overflow: hidden;background:transparent; border:1px solid #e4e0e0; margin-top:20px;}
.get_started h3{font-family:arial;font-size:28px;text-transform: uppercase;color:#0a3858;margin:15px 0 25px;text-align:center}

.get_started_left {width:590px;height: auto;overflow: hidden;float: left;border: 0px solid red;}
.get_started_left_content_hold{width:100%; margin-bottom:15px; float:left}
.get_started_left span{font-family:arial;font-size:28px; font-weight:bold; color:#0a3858;float: left;}
.get_started_left aside{width:555px;float:right;}
.get_started_left aside h4{font-family:arial;font-size:20px; line-height:22px}
.get_started_left aside p{font-family:arial;font-size:17px; line-height:24px}

.get_started_right{width:350px; background: none repeat scroll 0 0 #c4e0fa;float: right;border: 0px solid red;}
.get_started_right ul{ background:#fff; margin:12px; padding:10px; display:block; position:relative; overflow:hidden}
.get_started_right ul li{width:100%; margin-bottom:8px;float:left}
.get_started_right ul li .left_div{width:49%;float:left}
.get_started_right ul li .right_div{width:49%;float:right}
.get_started_right ul li .inpt_box{border:1px solid #cccdcd; border-radius:2px;}
.get_started_right ul li input[type="text"], .get_started_right ul li select{width:90%;border:0; padding:5px}
.get_started_right ul li select{width:105%; background-color:transparent}
.get_started_right label{font-family:arial;font-size:14px; color:#0a3858;display:block; margin-bottom:4px}
.get_started_right ul li .slct_box{border:1px solid #cccdcd; border-radius:2px; overflow:hidden; margin-top:5px; background:url(../images/down-arrow2.png) no-repeat 96% 50%}
.nxt{width:100px; margin:0 auto; padding:8px 0; border:1px solid #daab5c; background:#f6c97e; border-radius:2px; cursor:pointer; float:none; display:block; font-family:arial;font-size:16px; color:#fff; text-align:center; font-weight:bold}
.get_started_right ul li span{color:#0a3858;}

