@charset "utf-8";
/* CSS Document */
html, body, address, blockquote, div, dl, form, h1, h2, h3, h4, h5, h6, ol, p, pre, table, ul,
dd, dt, li, tbody, td, tfoot, th, thead, tr, button, del, ins, map, object,
a, abbr, acronym, b, bdo, big, br, cite, code, dfn, em, i, img, kbd, q, samp, small, span,
strong, sub, sup, tt, var, legend, fieldset {
	margin: 0;
	padding: 0;
}
img, fieldset {
	border: 0;
}
/* set html5 elements to block */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section { 
    display: block;
}

/* Clearfix */
.clearfix {
	float: none;
	clear: both;
	line-height: 0;
}
/* Some basic settings */

small { font-size: 10px; }
ol { list-style: none; }
ul { list-style: none; }
li { list-style-type: none;}
/*******************fonts*/

/*******************fonts*/
@font-face {
    font-family: 'times_new_romanbold';
    src: url('fonts/timesbd-webfont.eot');
    src: url('fonts/timesbd-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/timesbd-webfont.woff') format('woff'),
         url('fonts/timesbd-webfont.ttf') format('truetype'),
         url('fonts/timesbd-webfont.svg#times_new_romanbold') format('svg');
    font-weight: normal;
    font-style: normal;

}
/*********************color*********************/

/*******************container**************/
a						{text-decoration:none;color:inherit;}
body					{width:100%;background:#fff}
.container				{width:1000px;height:auto;margin:0 auto;border:0px solid red;}
/*******************end container*************/

/*******************header*************/
header{height:45px;width:100%;background:#092434;}
section.bottom_header{height:98px;width:100%;background:#1981b8;border-bottom:1px solid #20a6ec}


ul.left_top{width:auto;height:27px;float:left;margin:9px 0 0 0px;}
ul.left_top li{float:left;}
.dublin{width:87px;height:27px;border:1px solid #134e70;background-color:#05141d;background-image:url(../img/drop.png);background-position:90% center;background-repeat: no-repeat;overflow: hidden;}
.dublin select{width:120%;background:none;border:0;color:#a3a2a2;margin-top:5px;margin-left:5px;font-family: arial;font-size:12px;}

ul.left_top li a{color:#1981b8;font-family: arial;font-size:12px;margin:0px 10px;line-height:27px;}



ul.right_top{float:right;width:auto;height:27px;margin-top:10px;}
ul.right_top li{float:left;font-family: arial;font-size:12px;color:#fff;line-height:25px;}
.register{background:url(../img/register.png) repeat;width:85px;height:26px;border-radius:3px;color:#092434;font-family: arial;font-size:12px;text-align: center;line-height:25px;b}

ul.right_top li span{color:#13618a;margin:0 5px;}
.social{display: block;margin:3px 5px 0 10px;}


section.bottom_header .logo{width:171px;height:49px;float:left;margin-top: 27px;}
section.bottom_header .logo img{width:171px;height:49px;float:left;}

section.bottom_header .search{width:362px;height:33px;border:0px solid red;float:left;margin-left:33px;margin-top:36px;}
section.bottom_header .search input[type="text"]{width:314px;height:31px;float:left;border:1px solid #146894;border-radius:3px;color:#474948;font-family: arial;font-size:14px;font-style: italic;padding-left:10px;}
section.bottom_header .search input[type="submit"]{
	background: url(../img/search.png),
	url(../img/search_back.png); background-position: center center,left top;background-repeat: no-repeat,repeat ;width:40px;height:31px;border:1px solid #146894;border-radius:3px;cursor: pointer;float:right}


ul.exprience{float:right;margin-top:38px;}
ul.exprience li{float:left;color:#fff;font-family: arial;font-size:18px;margin-left:30px;}
ul.exprience li img{float:left;margin-top:3px;margin-right:10px;}
ul.exprience li a{float:left;}

/****************************************main_body***************************/
.main_body{background-image:url(../img/bg.jpg);background-position:top center;background-color:#195e87;width:100%;height:auto;overflow:hidden;background-repeat: repeat-x;}

.banner{width:100%;height:auto;overflow: hidden;border:0px solid red;margin:24px 0}
.left_banner,.right_banner{width:449px;height:316px;padding:14px;background:#fff;float:left;border-radius:10px}
.right_banner{float:right;}
.left_banner img,.right_banner img{width:100%;height:auto;border-radius:5px;}

.banner h2{font-family: 'times_new_romanbold';color:#d14510;font-size:24px;text-transform: uppercase;text-align: center;margin:15px 0}

.banner h4{font-family: 'arial';color:#474747;font-size:21px;text-align: center;margin:15px 0;font-weight:normal}
.banner h1{color:#1782b8;font-size:30px;text-align: center;margin:15px 0;font-weight:bold;text-transform: uppercase;}

.browse_category{width:100%;height:auto;overflow: hidden;background:#fff;border-radius:2px;}

.browse_category_header{background:url(../img/browse_category.png) repeat;width:100%;height:45px;}
.browse_category_header a{font-family: 'arial';color:#fff;font-size:16px;font-weight:bold;padding:12px 16px;display: block;}

.browse_category ul{width:100%;height:auto;overflow: hidden;}

.browse_category ul li{width:164px;height:107px;box-shadow:0 1px 3px 1px #afafaf;float:left;margin:20px 18px;border-radius:3px}

.browse_category ul li span{width:100%;height:70px;display: block;margin-top:10px;}
.browse_category ul li img{margin:0 auto;display:block;}
.browse_category ul li h5{color:#575757;font-family: 'arial';font-size:14px;text-align: center;}

.deals{width:100%;height:57px;background:url(../img/heading.png) repeat-x;margin:24px 0;border-radius:2px}
.deals a{font-family: 'arial';color:#fff;font-size:18px;font-weight:bold;padding:18px 16px;display: block;float:left;}

.sort_by{float:right;width:auto;margin:13px 15px 0 0}
.sort_by span{float:left;color:#cccccc;font-family: 'arial';font-size:11px;text-transform: uppercase;margin:10px 10px 0 0}
.sort_by .sort_by_select{float:left;width:170px;height:32px;background-color:#fff;border-radius:2px;overflow: hidden;background-image:url(../img/drop_black.png);background-repeat: no-repeat;background-position:90% center}
.sort_by .sort_by_select select{width:120%;background:none;border:0;margin-top:6px;margin-left:10px;}
	
	
ul.product_list{width:100%;height:auto;overflow: hidden;}
ul.product_list li{width:309px;height:410px;overflow: hidden;border:0px solid red;float:left;margin-right:33px;margin-bottom:30px;border-radius:3px;background:#fff;}
ul.product_list li:nth-child(3),ul.product_list li:nth-child(6){float:right !important;margin-right:0}


ul.product_list li aside{height:69px;background:url(../img/product_top.png) repeat-x;width:100%;overflow: hidden;

}
ul.product_list li aside p{color:#1a92d1;font-family: 'arial';font-size:15px;margin:16px 10px;line-height:18px;}
	
ul.product_list li img{width:100%;height:204px;}
.price{width:100%;height:50px;margin-top:20px;}
.price span{width:50px;height:50px;float:left;color:#2e2e2e;font-family: 'arial';font-size:30px;font-weight:bold;margin-left:15px;}
.price .voucher{width:220px;height:50px;float:right;}
.price .voucher	p{color:#535353;font-family: 'arial';font-size:18px}
.price .voucher	b{color:#195e87;font-family: 'arial';font-size:14px;font-weight: normal;}
	
.buy_look{width:90%;height:auto;overflow: hidden;border:0px solid red;margin:10px auto;font-family: 'arial';font-size:16px;color:#fff;line-height:35px;text-shadow:1px 1px #2B2B2B;font-weight: bold;}

.buy{width:auto;height:35px;background:url(../img/buy.png) repeat-x;float:left;padding:00px 36px;border-radius:2px;}
.look{width:auto;height:35px;background:url(../img/look.png) repeat-x;float:right;padding:00px 36px;border-radius:2px;}

/****************************************footer*********************/
footer{width:100%;background:#141414;padding:44px 0;height:auto;overflow: hidden;}

footer ul{width:220px;height:150px;float:left;border-right:1px solid #000;margin-right:35px;}
footer ul:last-child{border-right:0;float:right;margin-right:0}
footer ul li:first-child{color:#fff;font-family: 'arial';font-size:16px;margin:7px 0}
footer ul li{color:#919191;font-family: 'arial';font-size:12px;margin:9px 0}



/******************************************details********************************/
.details{width:100%;height:auto;overflow: hidden;border:0px solid red;margin:24px 0;}
.details_image{float:left;width:460px;height:auto;overflow: hidden;}
.details_image img{width:440px;height:280px;display: block;border-radius:5px;border:10px solid #fff}


.details_des{float:right;width:480px;border:0px solid red;height: auto;overflow: hidden;padding:20px;background:#fff;border-radius:5px;}

.details_des h2{color: #D14510;font-family: 'times_new_romanbold';font-size: 18px;margin: 0;text-transform: uppercase;}
.details_des p{color:#919191;font-family: 'arial';font-size:12px;margin:5px 0}


.details_price_holder{width:100%;height:30px;margin:10px 0}
.details_des .details_price{float:left;width:140px;height:30px;border:0px solid red;;color: #2E2E2E;font-family: 'arial';font-size: 20px;font-weight: bold;}
.details_des .details_price b{color:#D14510}

.add_to_cart,.add_to_wish_list{background: url("../img/buy.png") repeat-x scroll 0 0 rgba(0, 0, 0, 0);border-radius: 2px;float: left;height: 35px;padding: 0 20px;width: auto;text-shadow: 1px 1px #2B2B2B;color: #FFFFFF;
    font-family: 'arial';
    font-size: 16px;
    font-weight: bold;line-height: 35px;}
.add_to_wish_list{background: url("../img/look.png") repeat-x scroll 0 0 rgba(0, 0, 0, 0);float:right;}


.counter_holder{width:100%:height:auto;overflow: hidden;background:#000;margin-top:20px;border-radius:5px}
.counter_holder p{float:left;font-family: 'arial';font-size: 12px;font-weight: bold;text-transform: uppercase;margin-top:15px;margin-left:10px;color:#bab8b6}




/***************************************my_account**********************************/
.my_account{width:100%;height:auto;overflow: hidden;border:0px solid red;margin:24px 0;}

ul.left_menu{width:200px;height:auto;overflow:hidden;float:left;}
ul.left_menu li{float:left;width:100%;background:url(../img/trans.png) repeat;height:30px;margin:1px 0;color: #fff;}


ul.left_menu li a{font-family: 'arial';font-size: 14px;font-weight: bold;
text-shadow: 1px 1px #181818;text-transform: uppercase;padding:7px 0;display: block;padding-left:10px}


ul.left_menu li.active,ul.left_menu li:hover{background:url(../img/buy.png) repeat;}
.dash_board{float: right;width:760px;height:auto;overflow: hidden;padding:10px;background:#fff;border-radius:5px;}



/***************************account*****************/
.my_account_left aside{width:90%;height:auto;margin:10px auto;border-bottom:1px solid #d0d0d0;overflow: hidden;}
.my_account_left aside h2{color: #D14510;font-family: 'times_new_romanbold';font-size: 18px;font-weight: normal;float:left;}
.my_account_left aside a{float:right;color: #424242;font-family: arial;font-size: 14px;line-height: 25px;}
ul.edit_profile{width:90%;margin:20px auto;border:0px solid red;height:auto;overflow: hidden;}
ul.edit_profile li{margin-bottom:10px;}
ul.edit_profile li.odd{width:130px;height:auto;border:0px solid red;float:left;overflow: hidden;}
ul.edit_profile li h4{font-family: arial;color:#4d4d4d;font-size:13px;text-align: right;font-weight: bold;line-height:26px;float:right}
ul.edit_profile li.odd a img{float:right;margin-top:5px;margin-left:5px;}
ul.edit_profile li.even{width:450px;height:auto;border:0px solid red;float:left;margin-left:20px;overflow: hidden;}
ul.edit_profile li .edit_picture{width:92px;height:92px;}
ul.edit_profile li .edit_picture img{width:92px;height:92px;border-radius:100%;border:2px solid #aaaaaa;}
ul.edit_profile li details{height:auto;width:auto;overflow: hidden;margin:10px 0 5px 0;}
ul.edit_profile li b{color: #999999;font-family: arial;font-size: 11px;line-height: 12px;font-weight: normal;}


ul.edit_profile li input[type="text"],input[type="number"],input[type="url"],ul.edit_profile li textarea,ul.edit_profile li input[type="password"]
{width:100%;height:32px;border:0;border:1px solid #d0d0d0;border-radius:4px;float:left;margin-right:10px;

-moz-box-shadow:    inset 0 0 3px #e1e1e1;

   -webkit-box-shadow: inset 0 0 3px #e1e1e1;

   box-shadow:         inset 0 0 3px #e1e1e1;
   font-size:12px;color:#808080;padding-left:5px;}
.half_left{width:48% !important;float:left;margin-right:0 !important}
.half_right{width:48% !important;float:right !important;margin-right:0 !important}

ul.edit_profile li textarea{width:100%;height:132px;padding:5px}
ul.edit_profile li select{background: transparent;width:110%;border:0;margin:5px;}

.gender{width:100%;height:32px;border:0;border:1px solid #d0d0d0;border-radius:4px;float:left;overflow: hidden;background:url(../img/drop_black.png) 90% center no-repeat;}


ul.edit_profile li p{color: #565656;font-family: arial;font-size: 12px;line-height: 24px;}
.edit_bttn{width:auto;height:auto;background:url(../img/buy.png) repeat;border:0;color: #fff;font-family: arial;font-size: 12px;line-height: 20px;font-weight:bold;padding:7px 10px;text-transform: uppercase;border-radius:4px;cursor: pointer;}

.float_right{float:right}







/*********************registration*********************************************/
.registration{width: 400px;height:auto;background:black;margin: 0 auto;background: url(../img/trans.png) repeat;padding: 20px;margin:30px auto;overflow: hidden;}
.registration h4{color:#FFFFFF;font-family: Arial, sans-serif;font-size: 20px;font-weight:normal;line-height:40px;}
.registration p{color:#D14510;font-family: Arial, sans-serif;font-size: 40px;}
.registration p span{font-size: 17px !important;color:#000}
.registration p b{font-size: 13px !important;color:#464646;float:right}
.registration p b a{color:#DB7000;text-decoration: underline;}


.registration input[type="text"],.registration input[type="password"],select,textarea{width:399px;height:35px;border-radius:5px;margin-top:5px;font-size: 17px;font-style: italic;color:#4d4c4c;float:left;padding-left:10px;}


hr{margin:10px 0;}
.small_box{width:182px !important;}
.float_right{float:right !important;margin-right:0 !important;}

.one_third_box,.one_box{width:126px;height:35px;border-radius:5px;margin-top:5px;float:left;margin-right:11px;display: inline-block;overflow: hidden;background: url(../images/down_arrow.png) no-repeat 80%;background-color: white; }


.one_third_box select{background:none;width:150px;border:0;}
.registration textarea{padding-top:10px;height:70px !important;margin-bottom:3px;}

/****if city/ country/ state big then use it*********/
//.big_width{width:200px !important;}
/****if city/ country/ state big then use it*********/

.registration input[type="submit"]{background: url("../img/buy.png") repeat-x scroll 0 0 rgba(0, 0, 0, 0);
    border-radius: 2px;
    color: #FFFFFF;
    float: left;
    font-family: 'arial';
    font-size: 16px;
    font-weight: bold;
    height: 35px;
    line-height: 35px;
    padding: 0 30px;
    text-shadow: 1px 1px #2B2B2B;
    width: auto;
    border:0;
    margin-top:10px;
    }

.forgot_pass{font-size:15px;color:#fff}
.gendr span{color:#fff !important;margin-top:10px;display:block !important}